<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.CallInternationalRateMapper">

	<!-- DEFINITION AREA -->
	
	<sql id="callInternationalRateColumns">
		cir.`area_prefix` 			as cir_area_prefix,
		cir.`rate_type` 			as cir_rate_type,
		cir.`area_name` 			as cir_area_name,
		cir.`rate_cost` 			as cir_rate_cost
	</sql>
	
	<resultMap type="CallInternationalRate" id="callInternationalRateResultMap">
		<result property="area_prefix" column="cir_area_prefix" />
		<result property="rate_type" column="cir_rate_type" />
		<result property="area_name" column="cir_area_name" />
		<result property="rate_cost" column="cir_rate_cost" />
	</resultMap>
	
	<sql id="callInternationalRateWhere">
		<where>
			<choose>
				<otherwise>
					<if test="params.area_prefix != null">cir.area_prefix = #{params.area_prefix}</if>
					<if test="params.rate_type != null">and cir.rate_type = #{params.rate_type}</if>
					<if test="params.area_name != null">and cir.area_name = #{params.area_name}</if>
					<if test="params.rate_cost != null">and cir.rate_cost = #{params.rate_cost}</if>
				</otherwise>
			</choose>
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	
	<!-- =================================================================================== -->

	<!-- SELECT AREA -->
	
	<select id="selectCallInternationalRates" parameterType="CallInternationalRate" resultType="CallInternationalRate">
		select * from tm_call_international_rates as cir
		<include refid="callInternationalRateWhere"/>
	</select>
	
	<select id="selectCallInternationalRatesByPage" parameterType="Page" resultMap="callInternationalRateResultMap">
		select 
			<include refid="callInternationalRateColumns"/>
		from tm_call_international_rates as cir
		<include refid="callInternationalRateWhere"/>
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>
	
	<select id="selectCallInternationalRatesSum" parameterType="Page" resultType="int">
		select count(*) from tm_call_international_rates as cir
		<include refid="callInternationalRateWhere"/>
	</select>
	
	<select id="selectCallInternationalRatesGroupBy" resultType="CallInternationalRate">
		select 
			rate_type, area_name,  area_prefix, rate_cost 
		from tm_call_international_rates
		GROUP BY rate_type, area_name, rate_cost
	</select>

	<!-- // END SELECT AREA -->
	<!-- =================================================================================== -->
	<!-- INSERT AREA -->

	<insert id="insertCallInternationalRate" parameterType="CallInternationalRate">
		INSERT INTO `tm_call_international_rates`(
			`area_prefix`, `rate_type`, `area_name`, `rate_cost`
		) VALUES (
			#{area_prefix}, #{rate_type}, #{area_name}, #{rate_cost}
		)
	</insert>

	<!-- // END INSERT AREA -->
	<!-- =================================================================================== -->
	<!-- UPDATE AREA -->
	
	<update id="updateCallInternationalRate" parameterType="CallInternationalRate">
		update tm_call_international_rates
		<set>
			<if test="area_prefix != null">area_prefix = #{area_prefix},</if>
			<if test="rate_type != null">rate_type = #{rate_type},</if>
			<if test="area_name != null">area_name = #{area_name},</if>
			<if test="rate_cost != null">rate_cost = #{rate_cost}</if>
		</set>
	</update>

	<!-- // END UPDATE AREA -->
	<!-- =================================================================================== -->
	<!-- DELETE AREA -->
	
	<delete id="deleteCallInternationalRate" parameterType="CallInternationalRate">
		DELETE FROM tm_call_international_rates
	</delete>
	
	<!-- // END DELETE AREA -->

</mapper>