<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.CustomerTransactionMapper">
	
	<!-- DEFINITION AREA -->
	
	<sql id="pageWhere">
		<where>
			<choose>
				<when test="params.where == 'card_name3'">
					(card_name = #{params.card_name}
					or
					card_name = #{params.card_name2}
					or
					card_name Like CONCAT('${params.card_name3}', '%'))
					<if test="params.transaction_date_month != null">
						and DATE_FORMAT(transaction_date,'%Y-%m')=DATE_FORMAT(#{params.transaction_date_month},'%Y-%m')
					</if>
					<if test="params.transaction_date_year != null">
						and DATE_FORMAT(transaction_date,'%Y')=DATE_FORMAT(#{params.transaction_date_year},'%Y')
					</if>
				</when>
				<when test="params.where == 'card_name2'">
					(card_name = #{params.card_name}
					or
					card_name = #{params.card_name2})
					<if test="params.transaction_date_month != null">
						and DATE_FORMAT(transaction_date,'%Y-%m')=DATE_FORMAT(#{params.transaction_date_month},'%Y-%m')
					</if>
					<if test="params.transaction_date_year != null">
						and DATE_FORMAT(transaction_date,'%Y')=DATE_FORMAT(#{params.transaction_date_year},'%Y')
					</if>
				</when>
				<otherwise>
					<if test="params.customer_id != null">customer_id = #{params.customer_id}</if>
					<if test="params.card_name != null">and card_name = #{params.card_name}</if>
					<if test="params.transaction_date_month != null">
						and DATE_FORMAT(transaction_date,'%Y-%m')=DATE_FORMAT(#{params.transaction_date_month},'%Y-%m')
					</if>
					<if test="params.transaction_date_year != null">
						and DATE_FORMAT(transaction_date,'%Y')=DATE_FORMAT(#{params.transaction_date_year},'%Y')
					</if>
				</otherwise>
			</choose>
		</where>
	</sql>
	
	<sql id="where">
		<where>
			<if test="params.id != null">`id`=#{params.id}</if>
			<if test="params.customer_id != null">and `customer_id`=#{params.customer_id}</if>
			<if test="params.order_id != null">and `order_id`=#{params.order_id}</if>
			<choose>
				<when test="params.where == 'invoice_id_is_null'">
					and `invoice_id` is null
				</when>
				<otherwise>
					<if test="params.invoice_id != null">and `invoice_id`=#{params.invoice_id}</if>
				</otherwise>
			</choose>
			<if test="params.transaction_sort != null">and `transaction_sort`=#{params.transaction_sort}</if>
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- SELECT AREA -->
	
	<select id="selectCustomerTransactions" parameterType="CustomerTransaction" resultType="CustomerTransaction">
		select * from tm_customer_transaction 
		<include refid="where"/>
		<if test="params.orderby != null">${params.orderby}</if>
	</select>
	
	<!-- select customer transaction page -->
	<select id="selectCustomerTransactionsByPage" parameterType="Page" resultType="CustomerTransaction">
		select * from tm_customer_transaction
		<include refid="pageWhere"/>
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>
	
	<!-- select customer transaction sum -->
	<select id="selectCustomerTransactionsSum" parameterType="Page" resultType="int">
		select count(*) from tm_customer_transaction 
		<include refid="pageWhere"/>
	</select>
	
	<!-- select customer transaction by customer_id -->
	<select id="selectCustomerTransactionsByCustomerId" parameterType="int" resultType="CustomerTransaction">
		select * from tm_customer_transaction where customer_id=#{0}
	</select>
	
	<!-- select customer transaction by invoice_id -->
	<select id="selectCustomerTransaction" parameterType="int" resultType="CustomerTransaction">
		select * from tm_customer_transaction 
		<include refid="where"/>
		limit 0, 1
	</select>
	
	<select id="selectCustomerTransactionsByTransactionDate" parameterType="Date" resultType="CustomerTransaction">
		select * from tm_customer_transaction
		where CONVERT(transaction_date, DATE) between CONVERT(#{0}, DATE) and CONVERT(#{1}, DATE)
		and card_name IN ('Visa','Cash','Account2Account','DDPay','Credit Card','MasterCard')
	</select>
	
	<!-- // END SELECT AREA -->
	<!-- =================================================================================== -->
	<!-- INSERT AREA -->
	
	<insert id="insertCustomerTransaction" parameterType="CustomerTransaction">
		INSERT INTO `tm_customer_transaction`(
			`customer_id`, `order_id`, `invoice_id`, `transaction_date`, `amount`, 
			`auth_code`, `cardholder_name`, `card_name`, `card_number`, `client_info`, 
			`currency_input`, `amount_settlement`, `expiry_date`, `dps_txn_ref`, 
			`merchant_reference`, `response_text`, `success`,  `txnMac`, 
			`transaction_type`, `transaction_sort`, `executor`, `inviter_id`)
		VALUES (
			#{customer_id}, #{order_id}, #{invoice_id}, #{transaction_date}, #{amount}, 
			#{auth_code}, #{cardholder_name}, #{card_name}, #{card_number}, #{client_info},
			#{currency_input}, #{amount_settlement}, #{expiry_date}, #{dps_txn_ref},
			#{merchant_reference}, #{response_text}, #{success}, #{txnMac},
			#{transaction_type}, #{transaction_sort}, #{executor}, #{inviter_id})
	</insert>
	
	<!-- // END INSERT AREA -->
	<!-- =================================================================================== -->
	<!-- UPDATE AREA -->
	
	<!-- multi-update -->
	<update id="updateCustomerTransaction" parameterType="CustomerTransaction">
		UPDATE `tm_customer_transaction`
		<set>
			<if test="customer != null and customer.id != null">`customer_id`=#{customer.id},</if>
			<if test="customerOrder != null and customerOrder.id != null">`order_id`=#{customerOrder.id},</if>
			<if test="customerInvoice != null and customerInvoice.id != null">`invoice_id`=#{customerInvoice.id},</if>
			<if test="transaction_date != null">`transaction_date`=#{transaction_date},</if>
			<if test="amount != null">`amount`=#{amount},</if>
			<if test="amount_settlement != null">`amount_settlement`=#{amount_settlement},</if>
			<if test="transaction_sort != null">`transaction_sort`=#{transaction_sort}</if>
			<if test="executor != null">`executor`=#{executor}</if>
			<if test="inviter_id != null">`inviter_id`=#{inviter_id}</if>
		</set>
		<include refid="where"/>
	</update>
	
	<!-- // END UPDATE AREA -->
	<!-- =================================================================================== -->
	<!-- DELETE AREA -->
	<delete id="deleteCustomerTransactionByCustomerId" parameterType="int">
		DELETE FROM tm_customer_transaction WHERE customer_id = #{0}
	</delete>
	<delete id="deleteCustomerTransactionById" parameterType="int">
		DELETE FROM tm_customer_transaction WHERE id = #{0}
	</delete>
	<!-- // END DELETE AREA -->
	
</mapper>