<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.CustomerOrderDetailMapper">
	
	<!-- DEFINITION AREA -->
	<sql id="customerOrderDetailColumns">
		cod.`id` 								as cod_id
		, cod.`order_id` 						as cod_order_id
		, cod.`detail_name` 					as cod_detail_name
		, cod.`detail_desc` 					as cod_detail_desc
		, cod.`detail_cost` 					as cod_detail_cost
		, cod.`detail_price` 					as cod_detail_price
		, cod.`detail_data_flow` 				as cod_detail_data_flow
		, cod.`detail_plan_status` 				as cod_detail_plan_status
		, cod.`detail_plan_type` 				as cod_detail_plan_type
		, cod.`detail_plan_sort` 				as cod_detail_plan_sort
		, cod.`detail_plan_group` 				as cod_detail_plan_group
		, cod.`detail_plan_new_connection_fee` 	as cod_detail_plan_new_connection_fee
		, cod.`detail_term_period` 				as cod_detail_term_period
		, cod.`detail_topup_data_flow` 			as cod_detail_topup_data_flow
		, cod.`detail_topup_fee` 				as cod_detail_topup_fee
		, cod.`detail_plan_memo` 				as cod_detail_plan_memo
		, cod.`detail_unit` 					as cod_detail_unit
		, cod.`detail_calling_minute` 			as cod_detail_calling_minute
		, cod.`detail_type` 					as cod_detail_type
		, cod.`detail_is_next_pay`				as cod_detail_is_next_pay
		, cod.`detail_expired`					as cod_detail_expired
		, cod.`is_post`							as cod_is_post
		, cod.`hardware_comment`				as cod_hardware_comment
		, cod.`track_code`						as cod_track_code
		, cod.`pstn_number` 					as cod_pstn_number
		, cod.`user_id` 						as cod_user_id
		, cod.`voip_password` 					as cod_voip_password
		, cod.`voip_assign_date` 				as cod_voip_assign_date
		, cod.`is_nca` 							as cod_is_nca
		, cod.`to_nca_by_who` 					as cod_to_nca_by_who
		, cod.`equip_id` 						as cod_equip_id
	</sql>
	<resultMap type="CustomerOrderDetail" id="customerOrderDetailResultMap">
		<id property="id" column="cod_id" />
		<result property="order_id" column="cod_order_id" />
		<result property="detail_name" column="cod_detail_name" />
		<result property="detail_desc" column="cod_detail_desc" />
		<result property="detail_cost" column="cod_detail_cost" />
		<result property="detail_price" column="cod_detail_price" />
		<result property="detail_data_flow" column="cod_detail_data_flow" />
		<result property="detail_plan_status" column="cod_detail_plan_status" />
		<result property="detail_plan_type" column="cod_detail_plan_type" />
		<result property="detail_plan_sort" column="cod_detail_plan_sort" />
		<result property="detail_plan_group" column="cod_detail_plan_group" />
		<result property="detail_plan_new_connection_fee" column="cod_detail_plan_new_connection_fee" />
		<result property="detail_term_period" column="cod_detail_term_period" />
		<result property="detail_topup_data_flow" column="cod_detail_topup_data_flow" />
		<result property="detail_topup_fee" column="cod_detail_topup_fee" />
		<result property="detail_plan_memo" column="cod_detail_plan_memo" />
		<result property="detail_unit" column="cod_detail_unit" />
		<result property="detail_calling_minute" column="cod_detail_calling_minute" />
		<result property="detail_type" column="cod_detail_type" />
		<result property="detail_is_next_pay" column="cod_detail_is_next_pay" />
		<result property="detail_expired" column="cod_detail_expired" />
		<result property="is_post" column="cod_is_post" />
		<result property="hardware_comment" column="cod_hardware_comment" />
		<result property="track_code" column="cod_track_code" />
		<result property="pstn_number" column="cod_pstn_number" />
		<result property="user_id" column="cod_user_id" />
		<result property="voip_password" column="cod_voip_password" />
		<result property="voip_assign_date" column="cod_voip_assign_date" />
		<result property="is_nca" column="cod_is_nca" />
		<result property="to_nca_by_who" column="cod_to_nca_by_who" />
		<result property="equip_id" column="cod_equip_id" />
	</resultMap>
	
	
	<sql id="customerOrderDetailWhere">
		<where>
			<choose>
				<when test="params.where == 'query_by_pstn_position'">
					cod.order_id in(
						select id from tm_customer_order
						where order_status='using'
					)
					and cod.detail_type='pstn'
					<if test="params.is_nca == false">
					and (cod.is_nca=false or cod.is_nca IS NULL)
					</if>
					<if test="params.is_nca == true">
					and cod.is_nca=true
					</if>
				</when>
				<when test="params.where == 'query_pstn_number_order_details'">
					cod.order_id = #{params.order_id}
					and cod.pstn_number IS NOT NULL and cod.pstn_number!='' and cod.detail_type='pstn'
				</when>
				<when test="params.where == 'query_plan_type_order_details_by_order_id'">
					cod.order_id = #{params.order_id}
					and cod.detail_type like 'plan-%'
				</when>
				<when test="params.where == 'query_hardware_detail'">
					cod.order_id = #{params.order_id}
					and cod.detail_type LIKE CONCAT('%', 'hardware', '%')
				</when>
				<when test="params.where == 'query_plan_detail'">
					cod.order_id = #{params.order_id}
					and cod.detail_type LIKE CONCAT('%', 'plan', '%')
				</when>
				<otherwise>
					<if test="params.id != null">cod.id = #{params.id}</if>
					<if test="params.order_id != null">and cod.order_id = #{params.order_id}</if>
					<if test="params.detail_name != null">and cod.detail_name = #{params.detail_name}</if>
					<if test="params.detail_desc != null">and cod.detail_desc = #{params.detail_desc}</if>
					<if test="params.detail_cost != null">and cod.detail_cost = #{params.detail_cost}</if>
					<if test="params.detail_price != null">and cod.detail_price = #{params.detail_price}</if>
					<if test="params.detail_unit != null">and cod.detail_unit = #{params.detail_unit}</if>
					<if test="params.pstn_number != null">and cod.pstn_number = #{params.pstn_number}</if>
					<if test="params.detail_type != null">and cod.detail_type = #{params.detail_type}</if>
					<if test="params.is_nca != null">and cod.is_nca = #{params.is_nca}</if>
					<if test="params.to_nca_by_who != null">and cod.to_nca_by_who = #{params.to_nca_by_who}</if>
					<if test="params.user_id != null">and cod.user_id = #{params.user_id}</if>
					<if test="params.equip_id != null">and cod.equip_id = #{params.equip_id}</if>
				</otherwise>
			</choose>
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	<!-- =================================================================================== -->
	<!-- SELECT AREA -->
	
	<select id="selectCustomerOrderDetails" parameterType="CustomerOrderDetail" resultType="CustomerOrderDetail">
		select * from `tm_customer_order_detail` as cod
		<include refid="customerOrderDetailWhere"/>
	</select>
	
	<select id="selectCustomerOrderDetailsByPage" parameterType="Page" resultMap="customerOrderDetailResultMap"  >
		select 
			<include refid="customerOrderDetailColumns"/>
		from tm_customer_order_detail as cod
		<include refid="customerOrderDetailWhere"/>
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>
	
	<select id="selectCustomerOrderDetailsSum" parameterType="Page" resultType="int">
		select count(*) from tm_customer_order_detail as cod
		<include refid="customerOrderDetailWhere"/>
	</select>

	<!-- // END SELECT AREA -->
	<!-- =================================================================================== -->
	<!-- INSERT AREA -->

	<insert id="insertCustomerOrderDetail" parameterType="CustomerOrderDetail" >
		INSERT INTO `tm_customer_order_detail`(
			`order_id`, `detail_name`, `detail_desc`, `detail_cost`, `detail_price`, 
			`detail_data_flow`, `detail_plan_status`, `detail_plan_type`, `detail_plan_sort`, 
			`detail_plan_group`, `detail_plan_new_connection_fee`, `detail_term_period`, `detail_topup_data_flow`, 
			`detail_topup_fee`, `detail_plan_memo`, `detail_unit`, `detail_calling_minute`, `detail_type`, `detail_expired`,
			`detail_is_next_pay`, `is_post`, `hardware_comment`, `track_code`, `pstn_number`, `user_id`, `voip_password`,
			`voip_assign_date`, `is_nca`, `to_nca_by_who`, `equip_id`) 
		VALUES (
			#{order_id}, #{detail_name}, #{detail_desc}, #{detail_cost}, #{detail_price}, 
			#{detail_data_flow}, #{detail_plan_status}, #{detail_plan_type}, #{detail_plan_sort}, 
			#{detail_plan_group}, #{detail_plan_new_connection_fee}, #{detail_term_period}, #{detail_topup_data_flow},
			#{detail_topup_fee}, #{detail_plan_memo}, #{detail_unit}, #{detail_calling_minute}, #{detail_type}, #{detail_expired},
			#{detail_is_next_pay}, #{is_post}, #{hardware_comment}, #{track_code}, #{pstn_number}, #{user_id}, #{voip_password},
			#{voip_assign_date}, #{is_nca}, #{to_nca_by_who}, #{equip_id})
	</insert>
	
	<!-- // END INSERT AREA -->
	<!-- =================================================================================== -->
	<!-- UPDATE AREA -->
	
	<update id="updateCustomerOrderDetail" parameterType="CustomerOrderDetail">
		UPDATE `tm_customer_order_detail` 
		<set>
			<if test="params.equip_id_null == true">equip_id=NULL,</if>
			<if test="order_id != null">order_id=#{order_id},</if>
			<if test="detail_name != null">detail_name=#{detail_name},</if>
			<if test="detail_desc != null">detail_desc=#{detail_desc},</if>
			<if test="detail_cost != null">detail_cost=#{detail_cost},</if>
			<if test="detail_price != null">detail_price=#{detail_price},</if>
			<if test="detail_data_flow != null">detail_data_flow=#{detail_data_flow},</if>
			<if test="detail_plan_status != null">detail_plan_status=#{detail_plan_status},</if>
			<if test="detail_plan_type != null">detail_plan_type=#{detail_plan_type},</if>
			<if test="detail_plan_sort != null">detail_plan_sort=#{detail_plan_sort},</if>
			<if test="detail_plan_group != null">detail_plan_group=#{detail_plan_group},</if>
			<if test="detail_plan_new_connection_fee != null">detail_plan_new_connection_fee=#{detail_plan_new_connection_fee},</if>
			<if test="detail_term_period != null">detail_term_period=#{detail_term_period},</if>
			<if test="detail_topup_data_flow != null">detail_topup_data_flow=#{detail_topup_data_flow},</if>
			<if test="detail_topup_fee != null">detail_topup_fee=#{detail_topup_fee},</if>
			<if test="detail_plan_memo != null">detail_plan_memo=#{detail_plan_memo},</if>
			<if test="detail_unit != null">detail_unit=#{detail_unit},</if>
			<if test="detail_calling_minute != null">detail_calling_minute=#{detail_calling_minute},</if>
			<if test="detail_type != null">detail_type=#{detail_type},</if>
			<if test="detail_expired != null">detail_expired=#{detail_expired},</if>
			<if test="detail_is_next_pay != null">detail_is_next_pay=#{detail_is_next_pay},</if>
			<if test="is_post != null">is_post=#{is_post},</if>
			<if test="hardware_comment != null">hardware_comment=#{hardware_comment},</if>
			<if test="track_code != null">track_code=#{track_code},</if>
			<if test="pstn_number != null">pstn_number=#{pstn_number},</if>
			<if test="user_id != null">user_id=#{user_id},</if>
			<if test="voip_password != null">voip_password=#{voip_password},</if>
			<if test="voip_assign_date != null">voip_assign_date=#{voip_assign_date},</if>
			<if test="is_nca != null">is_nca=#{is_nca},</if>
			<if test="to_nca_by_who != null">to_nca_by_who=#{to_nca_by_who},</if>
			<if test="equip_id != null">equip_id=#{equip_id}</if>
		</set>
		<where>
			<if test="params.id !=null">id=#{params.id}</if>
		</where>
	</update>
	<!-- // END UPDATE AREA -->
	<!-- =================================================================================== -->
	<!-- DELETE AREA -->
	<delete id="deleteCustomerOrderDetailById" parameterType="int">
		DELETE FROM `tm_customer_order_detail` WHERE id=#{0};
	</delete>
	
	<delete id="deleteCustomerOrderDetailByOrderId" parameterType="int">
		DELETE FROM tm_customer_order_detail WHERE order_id = #{0};
	</delete>
	<!-- // END DELETE AREA -->

</mapper>