<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.CustomerCreditMapper">
	
	<!-- DEFINITION AREA -->
	
	<sql id="customerCreditWhere">
		<where>
			<if test="params.customer_id != null">customer_id=#{params.customer_id}</if>
			<if test="params.card_type != null">and card_type=#{params.card_type}</if>
			<if test="params.holder_name != null">and holder_name=#{params.holder_name}</if>
			<if test="params.card_number != null">and card_number=#{params.card_number}</if>
			<if test="params.security_code != null">and security_code=#{params.security_code}</if>
			<if test="params.expiry_date != null">and expiry_date=#{params.expiry_date}</if>
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	<!-- =================================================================================== -->
	<!-- SELECT AREA -->
	
	<!-- select customer credits -->
	<select id="selectCustomerCredits" parameterType="CustomerCredit" resultType="CustomerCredit">
		select * from tm_customer_credit
		<include refid="customerCreditWhere"/>
	</select>
	
	<!-- select customer credit page -->
	<select id="selectCustomerCreditsByPage" parameterType="Page" resultType="CustomerCredit">
		select * from tm_customer_credit
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select customer credit amount -->
	<select id="selectCustomerCreditsSum" parameterType="Page" resultType="int">
		select count(*) from tm_customer_credit
	</select>
	
	<!-- // END SELECT AREA -->
	<!-- =================================================================================== -->
	<!-- INSERT AREA -->
	<insert id="insertCustomerCredit" parameterType="CustomerCredit">
		INSERT INTO `tm_customer_credit`(
			`customer_id`, `card_type`, `holder_name`, `card_number`, `security_code`, `expiry_date`) 
		VALUES (
			#{customer_id},#{card_type},#{holder_name},#{card_number},#{security_code},#{expiry_date})
	</insert>
	
	<!-- // END INSERT AREA -->
	<!-- =================================================================================== -->
	<!-- UPDATE AREA -->
	<update id="updateCustomerCredit" parameterType="CustomerCredit">
		UPDATE `tm_customer_credit` 
			<set>
				<if test="customer_id != null">customer_id=#{customer_id},</if>
				<if test="card_type != null">card_type=#{card_type},</if>
				<if test="holder_name != null">holder_name=#{holder_name},</if>
				<if test="card_number != null">card_number=#{card_number},</if>
				<if test="security_code != null">security_code=#{security_code},</if>
				<if test="expiry_date != null">expiry_date=#{expiry_date}</if>
			</set>
			<where>
				<if test="params.id != null">id=#{params.id}</if>
			</where>
	</update>
	<!-- // END UPDATE AREA -->
	<!-- =================================================================================== -->
	<!-- DELETE AREA -->
	
	<delete id="deleteCustomerCreditCardById" parameterType="int">
		DELETE FROM tm_customer_credit WHERE id = #{0}
	</delete>
	
	<!-- // END DELETE AREA -->
	
	
</mapper>