<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.CustomerOrderMapper">

	<!-- DEFINITION AREA -->
	
	<sql id="customerColumns">
		c.`id` 				as c_id, 
		c.`login_name` 		as c_login_name, 
		c.`password` 		as c_password,
		c.`user_name` 		as c_user_name, 
		c.`first_name` 		as c_first_name, 
		c.`last_name` 		as c_last_name, 
		c.`address` 		as c_address, 
		c.`email` 			as c_email, 
		c.`phone` 			as c_phone, 
		c.`cellphone` 		as c_cellphone, 
		c.`status` 			as c_status, 
		c.`invoice_post` 	as c_invoice_post,
		c.`register_date` 	as c_register_date, 
		c.`active_date` 	as c_active_date, 
		c.`balance` 		as c_balance,
		c.`title`			as c_title,
		c.`birth`			as c_birth,
		c.`driver_licence`	as c_driver_licence,
		c.`passport`		as c_passport,
		c.`country`			as c_country,
		c.`company_name`	as c_company_name,
		c.`customer_type`	as c_customer_type
	</sql>
	<resultMap type="Customer" id="customerResultMap">
		<id property="id" column="c_id" />
		<result property="login_name" column="c_login_name" />
		<result property="password" column="c_password" />
		<result property="user_name" column="c_user_name" />
		<result property="first_name" column="c_first_name" />
		<result property="last_name" column="c_last_name" />
		<result property="address" column="c_address" />
		<result property="email" column="c_email" />
		<result property="phone" column="c_phone" />
		<result property="cellphone" column="c_cellphone" />
		<result property="status" column="c_status" />
		<result property="invoice_post" column="c_invoice_post" />
		<result property="register_date" column="c_register_date" />
		<result property="active_date" column="c_active_date" />
		<result property="balance" column="c_balance" />
		<result property="title" column="c_title" />
		<result property="birth" column="c_birth" />
		<result property="driver_licence" column="c_driver_licence" />
		<result property="passport" column="c_passport" />
		<result property="country" column="c_country" />
		<result property="company_name" column="c_company_name" />
		<result property="customer_type" column="c_customer_type" />
	</resultMap>

	<sql id="customerOrderColumns">
		co.`id` 								as co_id, 
		co.`order_serial` 						as co_order_serial, 
		co.`customer_id` 						as co_customer_id, 
		co.`order_total_price` 					as co_order_total_price, 
		co.`order_create_date` 					as co_order_create_date, 
		co.`order_status` 						as co_order_status, 
		co.`order_using_start` 					as co_order_using_start,
		co.`next_invoice_create_date` 			as co_next_invoice_create_date,
		co.`order_type` 						as co_order_type,
		co.`order_broadband_type` 				as co_order_broadband_type,
		co.`svlan`	 							as co_svlan,
		co.`cvlan` 								as co_cvlan,
		co.`transition_provider_name` 			as co_transition_provider_name,
		co.`transition_account_holder_name`  	as co_transition_account_holder_name,
		co.`transition_account_number`			as co_transition_account_number,
		co.`transition_porting_number`			as co_transition_porting_number,
		co.`hardware_post`						as co_hardware_post,
		co.`order_due`							as co_order_due,
		co.`pstn_count`							as co_pstn_count,
		co.`pstn_rental_amount`					as co_pstn_rental_amount,
		co.`term_period`						as co_term_period,
		co.`pppoe_loginname`					as co_pppoe_loginname,
		co.`pppoe_password`						as co_pppoe_password,
		co.`sale_id`							as co_sale_id,
		co.`order_pdf_path`						as co_order_pdf_path,
		co.`credit_pdf_path`					as co_credit_pdf_path,
		co.`signature`							as co_signature
	</sql>
	<resultMap type="CustomerOrder" id="customerOrderResultMap">
		<id property="id" column="co_id" />
		<result property="order_serial" column="co_order_serial" />
		<result property="customer_id" column="co_customer_id" /> 
		<result property="order_total_price" column="co_order_total_price" />
		<result property="order_create_date" column="co_order_create_date" />
		<result property="order_status" column="co_order_status" />
		<result property="order_using_start" column="co_order_using_start" />
		<result property="next_invoice_create_date" column="co_next_invoice_create_date" />
		<result property="order_type" column="co_order_type" />
		<result property="order_broadband_type" column="co_order_broadband_type" />
		<result property="svlan" column="co_svlan" />
		<result property="cvlan" column="co_cvlan" />
		<result property="transition_provider_name" column="co_transition_provider_name" />
		<result property="transition_account_holder_name" column="co_transition_account_holder_name" />
		<result property="transition_account_number" column="co_transition_account_number" />
		<result property="transition_porting_number" column="co_transition_porting_number" />
		<result property="hardware_post" column="co_hardware_post" />
		<result property="order_due" column="co_order_due" />
		<result property="pstn_count" column="co_pstn_count" />
		<result property="pstn_rental_amount" column="co_pstn_rental_amount" />
		<result property="term_period" column="co_term_period" />
		<result property="pppoe_loginname" column="co_pppoe_loginname" />
		<result property="pppoe_password" column="co_pppoe_password" />
		<result property="sale_id" column="co_sale_id" />
		<result property="order_pdf_path" column="co_order_pdf_path" />
		<result property="credit_pdf_path" column="co_credit_pdf_path" />
		<result property="signature" column="co_signature" />
	</resultMap>
	
	<sql id="customerOrderDetailColumns">
		cod.`id` 								as cod_id, 
		cod.`order_id` 							as cod_order_id, 
		cod.`detail_name` 						as cod_detail_name,
		cod.`detail_desc` 						as cod_detail_desc, 
		cod.`detail_price` 						as cod_detail_price,
		cod.`detail_data_flow` 					as cod_detail_data_flow, 
		cod.`detail_plan_status` 				as cod_detail_plan_status,
		cod.`detail_plan_type` 					as cod_detail_plan_type, 
		cod.`detail_plan_sort` 					as cod_detail_plan_sort,
		cod.`detail_plan_group` 				as cod_detail_plan_group,
		cod.`detail_plan_new_connection_fee` 	as cod_detail_plan_new_connection_fee,
		cod.`detail_term_period` 				as cod_detail_term_period,
		cod.`detail_topup_data_flow` 			as cod_detail_topup_data_flow,
		cod.`detail_topup_fee` 					as cod_detail_topup_fee,
		cod.`detail_plan_memo` 					as cod_detail_plan_memo, 
		cod.`detail_unit` 						as cod_detail_unit,
		cod.`detail_type` 						as cod_detail_type,
		cod.`detail_is_next_pay`				as cod_detail_is_next_pay,
		cod.`detail_expired`					as cod_detail_expired,
		cod.`is_post`							as cod_is_post,
		cod.`hardware_comment`					as cod_hardware_comment,
		cod.`track_code`						as cod_track_code,
		cod.`pstn_number` 						as cod_pstn_number
	</sql>
	<resultMap type="CustomerOrderDetail" id="CustomerOrderDetailResultMap">
		<id property="id" column="cod_id" />
		<id property="order_id" column="cod_order_id" />
		<result property="detail_name" column="cod_detail_name" />
		<result property="detail_desc" column="cod_detail_desc" />
		<result property="detail_price" column="cod_detail_price" />
		<result property="detail_data_flow" column="cod_detail_data_flow" />
		<result property="detail_plan_status" column="cod_detail_plan_status" />
		<result property="detail_plan_type" column="cod_detail_plan_type" />
		<result property="detail_plan_sort" column="cod_detail_plan_sort" />
		<result property="detail_plan_group" column="cod_detail_plan_group" />
		<result property="detail_plan_new_connection_fee" column="cod_detail_plan_new_connection_fee" />
		<result property="detail_term_period" column="cod_detail_term_period" />
		<result property="detail_topup_data_flow" column="cod_detail_topup_data_flow" />
		<result property="detail_topup_fee" column="cod_detail_topup_fee" />
		<result property="detail_plan_memo" column="cod_detail_plan_memo" />
		<result property="detail_unit" column="cod_detail_unit" />
		<result property="detail_type" column="cod_detail_type" />
		<result property="detail_is_next_pay" column="cod_detail_is_next_pay" />
		<result property="detail_expired" column="cod_detail_expired" />
		<result property="is_post" column="cod_is_post" />
		<result property="hardware_comment" column="cod_hardware_comment" />
		<result property="track_code" column="cod_track_code" />
		<result property="pstn_number" column="cod_pstn_number" />
	</resultMap>
	
	<sql id="customerOrderPageWhere">
		<where>
			<choose>
				<when test="params.where == 'query_order_status'">
					<if test="params.order_status != null">co.order_status=#{params.order_status}</if>
					<if test="params.order_status_1 != null">or co.order_status=#{params.order_status_1}</if>
					<if test="params.status != null">and c.status=#{params.status}</if>
				</when>
			</choose>
		</where>
	</sql>
	
	<sql id="customerOrderWhere">
		<where>
			<choose>
				<when test="params.where == 'query_status_no_discard_cancel'">
					<if test="params.customer_id != null">co.customer_id=#{params.customer_id}</if>
					<if test="params.order_status != null and params.order_status_1 != null">and (co.order_status!=#{params.order_status} or co.order_status!=#{params.order_status_1})</if>
				</when>
				<when test="params.where == 'query_term_or_no_term'">
					<if test="params.order_status != null">and co.order_status=#{params.order_status}</if>
					<if test="params.next_invoice_create_date != null">and date(co.next_invoice_create_date)=date(#{params.next_invoice_create_date})</if>
					<if test="params.order_type_no_term != null and params.order_type_term != null">and (co.order_type=#{params.order_type_no_term} or co.order_type=#{params.order_type_term})</if>
				</when>
				<otherwise>
					<if test="params.id != null">co.id=#{params.id}</if>
					<if test="params.customer_id != null">co.customer_id=#{params.customer_id}</if>
					<if test="params.order_status != null">and co.order_status=#{params.order_status}</if>
					<if test="params.next_invoice_create_date != null">and date(co.next_invoice_create_date)=date(#{params.next_invoice_create_date})</if>
					<if test="params.order_type != null">and co.order_type=#{params.order_type}</if>
				</otherwise>
			</choose>
		</where>
	</sql>

	<!-- // DEFINITION AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- SELECT AREA -->
	
	<select id="selectCustomerOrder" parameterType="CustomerOrder" resultMap="selectCustomerOrdersResultMap">
		select
			<include refid="customerOrderColumns"/>,
			<include refid="customerOrderDetailColumns"/>
		from tm_customer_order as co
		left join tm_customer_order_detail as cod on cod.order_id = co.id
		<include refid="customerOrderWhere"/>
	</select>
	
	<select id="selectCustomerOrders"  parameterType="CustomerOrder" resultMap="selectCustomerOrdersResultMap">
		select
			<include refid="customerOrderColumns"/>,
			<include refid="customerOrderDetailColumns"/>
		from tm_customer_order as co
		left join tm_customer_order_detail as cod on cod.order_id = co.id
		<include refid="customerOrderWhere"/>
	</select>
	
	<resultMap type="CustomerOrder" id="selectCustomerOrdersResultMap">
		<id property="id" column="co_id" />
		<result property="order_serial" column="co_order_serial" />
		<result property="customer_id" column="co_customer_id" />
		<result property="order_total_price" column="co_order_total_price" />
		<result property="order_create_date" column="co_order_create_date" />
		<result property="order_status" column="co_order_status" />
		<result property="order_using_start" column="co_order_using_start" />
		<result property="next_invoice_create_date" column="co_next_invoice_create_date" />
		<result property="order_type" column="co_order_type" />
		<result property="order_broadband_type" column="co_order_broadband_type" />
		<result property="svlan" column="co_svlan" />
		<result property="cvlan" column="co_cvlan" />
		<result property="transition_provider_name" column="co_transition_provider_name" />
		<result property="transition_account_holder_name" column="co_transition_account_holder_name" />
		<result property="transition_account_number" column="co_transition_account_number" />
		<result property="transition_porting_number" column="co_transition_porting_number" />
		<result property="hardware_post" column="co_hardware_post" />
		
		<!-- <association property="customer" resultMap="customerResultMap"/> -->
		<collection property="customerOrderDetails" resultMap="CustomerOrderDetailResultMap" />
	</resultMap>
	
	<!-- select one customer all orders and detail -->
	<select id="selectCustomerOrdersByCustomerId" resultMap="selectCustomerOrdersByCustomerIdResultMap">
		select 
			<include refid="customerOrderColumns"/>,
			<include refid="customerOrderDetailColumns"/>
		from tm_customer_order as co
		left join tm_customer_order_detail as cod on cod.order_id = co.id
		where co.customer_id = #{0}
	</select>
	
	<resultMap type="CustomerOrder" id="selectCustomerOrdersByCustomerIdResultMap">
		<id property="id" column="co_id" />
		<result property="order_serial" column="co_order_serial"/>
		<result property="order_total_price" column="co_order_total_price"/>
		<result property="order_create_date" column="co_order_create_date"/>
		<result property="order_status" column="co_order_status"/>
		<result property="order_using_start" column="co_order_using_start"/>
 			
		<collection property="customerOrderDetails" ofType="CustomerOrderDetail">
			<id property="id" column="cod_id" />
			<result property="detail_name" column="cod_detail_name"/>
			<result property="detail_desc" column="cod_detail_desc"/>
			<result property="detail_price" column="cod_detail_price"/>
			<result property="detail_data_flow" column="cod_detail_data_flow"/>
			<result property="detail_plan_status" column="cod_detail_plan_status"/>
			<result property="detail_plan_type" column="cod_detail_plan_type"/>
			<result property="detail_plan_sort" column="cod_detail_plan_sort"/>
			<result property="detail_plan_group" column="cod_detail_plan_group"/>
			<result property="detail_plan_new_connection_fee" column="cod_detail_plan_new_connection_fee"/>
			<result property="detail_topup_data_flow" column="cod_detail_topup_data_flow"/>
			<result property="detail_topup_fee" column="cod_cod_detail_topup_fee"/>
			<result property="detail_plan_memo" column="cod_detail_plan_memo"/>
			<result property="detail_unit" column="cod_detail_unit"/>
			<result property="detail_type" column="cod_detail_type" />
			<result property="detail_is_next_pay" column="cod_detail_is_next_pay" />
		</collection>
	</resultMap>
	
	
	<select id="selectCustomerOrdersByPage" parameterType="Page" resultMap="selectCustomerOrdersWithCustomerResultMap">
		select 
			<include refid="customerOrderColumns"/>,
			<include refid="customerColumns"/>
		from tm_customer_order as co
		left join tm_customer as c on c.id = co.customer_id
		<include refid="customerOrderPageWhere"/>
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>
	
	<select id="selectCustomerOrdersSum" parameterType="Page" resultType="int">
		select count(*) from tm_customer_order as co
		left join tm_customer as c on c.id = co.customer_id
		<include refid="customerOrderPageWhere"/>
	</select>
	
	<resultMap type="CustomerOrder" id="selectCustomerOrdersWithCustomerResultMap">
		<id property="id" column="co_id" />
		<result property="order_serial" column="co_order_serial" />
		<!-- <result property="customer_id" column="co_customer_id" /> -->
		<result property="order_total_price" column="co_order_total_price" />
		<result property="order_create_date" column="co_order_create_date" />
		<result property="order_status" column="co_order_status" />
		<result property="order_using_start" column="co_order_using_start" />
		<result property="next_invoice_create_date" column="co_next_invoice_create_date" />
		<result property="order_type" column="co_order_type" />
		<result property="order_broadband_type" column="co_order_broadband_type" />
		<result property="svlan" column="co_svlan" />
		<result property="cvlan" column="co_cvlan" />
		<result property="transition_provider_name" column="co_transition_provider_name" />
		<result property="transition_account_holder_name" column="co_transition_account_holder_name" />
		<result property="transition_account_number" column="co_transition_account_number" />
		<result property="transition_porting_number" column="co_transition_porting_number" />
		<result property="hardware_post" column="co_hardware_post" />
		
		<association property="customer" resultMap="customerResultMap"/>
	</resultMap>
	
	<select id="selectCustomerOrderById" resultMap="selectCustomerOrderWithCustomerAndCustomerOrderDetailsResultMap">
		select 
			<include refid="customerOrderColumns"/>,
			<include refid="customerColumns"/>,
			<include refid="customerOrderDetailColumns"/>
		from tm_customer_order as co
		left join tm_customer as c on c.id = co.customer_id
		left join tm_customer_order_detail as cod on cod.order_id = co.id
		where co.id = #{id}
	</select>
	
	<select id="selectCustomerOrdersBySome" resultMap="selectCustomerOrderWithCustomerAndCustomerOrderDetailsResultMap">
		select 
			<include refid="customerOrderColumns"/>,
			<include refid="customerColumns"/>,
			<include refid="customerOrderDetailColumns"/>
		from tm_customer_order as co
		left join tm_customer as c on c.id = co.customer_id
		left join tm_customer_order_detail as cod on cod.order_id = co.id
		<include refid="customerOrderWhere"/>
	</select>
	
	<resultMap type="CustomerOrder" id="selectCustomerOrderWithCustomerAndCustomerOrderDetailsResultMap">
		<id property="id" column="co_id" />
		<result property="order_serial" column="co_order_serial" />
		<result property="customer_id" column="co_customer_id" />
		<result property="order_total_price" column="co_order_total_price" />
		<result property="order_create_date" column="co_order_create_date" />
		<result property="order_status" column="co_order_status" />
		<result property="order_using_start" column="co_order_using_start" />
		<result property="next_invoice_create_date" column="co_next_invoice_create_date" />
		<result property="order_type" column="co_order_type" />
		<result property="order_broadband_type" column="co_order_broadband_type" />
		<result property="svlan" column="co_svlan" />
		<result property="cvlan" column="co_cvlan" />
		<result property="transition_provider_name" column="co_transition_provider_name" />
		<result property="transition_account_holder_name" column="co_transition_account_holder_name" />
		<result property="transition_account_number" column="co_transition_account_number" />
		<result property="transition_porting_number" column="co_transition_porting_number" />
		<result property="hardware_post" column="co_hardware_post" />
		
		<association property="customer" resultMap="customerResultMap"/>
		<collection property="customerOrderDetails" resultMap="CustomerOrderDetailResultMap" />
	</resultMap>
	
	<!-- select customer order file path by order_id -->
	<select id="selectCustomerOrderFilePathById" parameterType="int" resultType="String">
		SELECT order_pdf_path FROM `tm_customer_order` WHERE id=#{0}
	</select>
	
	<!-- select customer credit file path by order_id -->
	<select id="selectCustomerCreditFilePathById" parameterType="int" resultType="String">
		SELECT credit_pdf_path FROM `tm_customer_order` WHERE id=#{0}
	</select>
	
	<!-- // END SELECT AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- INSERT AREA -->
	
	<!-- create customer order -->
	<insert id="insertCustomerOrder" parameterType="CustomerOrder" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tm_customer_order`(
			`order_serial`, `customer_id`, `order_total_price`, `order_create_date`, `order_status`,
			`order_type`, `order_broadband_type`, 
			`transition_provider_name`, `transition_account_holder_name`, 
			`transition_account_number`, `transition_porting_number`, `hardware_post`,
			`order_due`, `pstn_count`, `pstn_rental_amount`, `term_period`, `pppoe_loginname`, `pppoe_password`,
			`sale_id`, `order_pdf_path`, `credit_pdf_path`, `signature`) 
		VALUES (
			#{order_serial}, #{customer_id}, #{order_total_price}, now(), #{order_status},
			#{order_type}, #{order_broadband_type},
			#{transition_provider_name}, #{transition_account_holder_name},
			#{transition_account_number}, #{transition_porting_number}, #{hardware_post},
			#{order_due}, #{pstn_count}, #{pstn_rental_amount}, #{term_period}, #{pppoe_loginname}, #{pppoe_password},
			#{sale_id}, #{order_pdf_path}, #{credit_pdf_path}, #{signature})
	</insert>
	
	<!-- // END INSERT AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- UPDATE AREA -->
	
	<!-- update customer order -->
	<update id="updateCustomerOrder" parameterType="CustomerOrder">
		update tm_customer_order 
		<set>
			<if test="order_serial != null">order_serial = #{order_serial},</if>
			<if test="customer_id != null">customer_id = #{customer_id},</if>
			<if test="order_total_price != null">order_total_price = #{order_total_price},</if>
			<if test="order_create_date != null">order_create_date = #{order_create_date},</if>
			<if test="order_status != null">order_status = #{order_status},</if>
			<if test="order_using_start != null">order_using_start = #{order_using_start},</if>
			<if test="next_invoice_create_date != null">next_invoice_create_date = #{next_invoice_create_date},</if>
			<if test="order_type != null">order_type = #{order_type},</if>
			<if test="order_broadband_type != null">order_broadband_type= #{order_broadband_type},</if>
			<if test="svlan != null">svlan=#{svlan},</if>
			<if test="cvlan != null">cvlan=#{cvlan},</if>
			<if test="transition_provider_name != null">transition_provider_name=#{transition_provider_name},</if>
			<if test="transition_account_holder_name != null">transition_account_holder_name=#{transition_account_holder_name},</if>
			<if test="transition_account_number != null">transition_account_number=#{transition_account_number},</if>
			<if test="transition_porting_number != null">transition_porting_number=#{transition_porting_number},</if>
			<if test="hardware_post != null">hardware_post=#{hardware_post},</if>
			<if test="order_due != null">order_due=#{order_due},</if>
			<if test="pstn_count != null">pstn_count=#{pstn_count},</if>
			<if test="pstn_rental_amount != null">pstn_rental_amount=#{pstn_rental_amount},</if>
			<if test="term_period != null">term_period=#{term_period},</if>
			<if test="pppoe_loginname != null">pppoe_loginname=#{pppoe_loginname},</if>
			<if test="pppoe_password != null">pppoe_password=#{pppoe_password},</if>
			<if test="sale_id != null">sale_id=#{sale_id},</if>
			<if test="order_pdf_path != null">order_pdf_path=#{order_pdf_path},</if>
			<if test="credit_pdf_path != null">credit_pdf_path=#{credit_pdf_path},</if>
			<if test="signature != null">signature=#{signature}</if>
		</set>
		<where>
			<if test="params.id != null">id=#{params.id}</if>
		</where>
	</update>
	
	<!-- // END UPDATE AREA -->
	<!-- =================================================================================== -->
	<!-- DELETE AREA -->
	<delete id="deleteCustomerOrderByCustomerId" parameterType="int">
		DELETE FROM tm_customer_order WHERE customer_id = #{0};
	</delete>
	<!-- // END DELETE AREA -->
	
	
	
</mapper>