<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.CustomerInvoiceMapper">
	
	<!-- DEFINITION AREA -->
	
	<sql id="pageWhere">
		<where>
			<if test="params.customer_id != null">customer_id=#{params.customer_id}</if>
		</where>
	</sql>
	<sql id="customerInvoiceWhere">
		<where>
			<if test="params.customer_id != null">customer_id=#{params.customer_id}</if>
			<if test="params.order_id != null">and order_id=#{params.order_id}</if>
			<if test="params.status != null">and status=#{params.status}</if>
			<if test="params.by_max_id != null">and id=(SELECT MAX(id) FROM tm_customer_invoice)</if>
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- SELECT AREA -->
	
	<!-- select customer invoice page -->
	<select id="selectCustomerInvoicesByPage" parameterType="Page" resultType="CustomerInvoice">
		select * from tm_customer_invoice 
		<include refid="pageWhere"/>
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>
	
	<!-- select customer invoice sum -->
	<select id="selectCustomerInvoicesSum" parameterType="Page" resultType="int">
		select count(*) from tm_customer_invoice 
		<include refid="pageWhere"/>
	</select>
	
	<!-- select customer invoice by invoice_id -->
	<select id="selectCustomerInvoiceById" parameterType="int" resultType="CustomerInvoice">
		SELECT * FROM `tm_customer_invoice` WHERE id=#{0}
	</select>
	
	<!-- select customer invoice file path by invoice_id -->
	<select id="selectCustomerInvoiceFilePathById" parameterType="int" resultType="String">
		SELECT invoice_pdf_path FROM `tm_customer_invoice` WHERE id=#{0}
	</select>
	
	<!-- select customer invoice by some -->
	<select id="selectCustomerInvoiceBySome" parameterType="CustomerInvoice" resultType="CustomerInvoice">
		SELECT * FROM `tm_customer_invoice`
		<include refid="customerInvoiceWhere"/>
	</select>
	
	<!-- // END SELECT AREA -->
	<!-- =================================================================================== -->
	<!-- INSERT AREA -->
	
	<insert id="insertCustomerInvoice" parameterType="CustomerInvoice" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tm_customer_invoice`(
			`invoice_serial`, `customer_id`, `order_id`, `create_date`,`due_date`, 
			`amount_payable`, `amount_paid`, `balance`, `status`, `memo`, `invoice_pdf_path`, `paid_date`, `paid_type`, `last_invoice_id`) 
		VALUES (
			#{invoice_serial}, #{customer.id}, #{customerOrder.id}, #{create_date}, #{due_date},
			#{amount_payable}, #{amount_paid}, #{balance}, #{status}, #{memo}, #{invoice_pdf_path}, #{paid_date}, #{paid_type}, #{last_invoice_id})
	</insert>
	
	<!-- // END INSERT AREA -->
	<!-- =================================================================================== -->
	<!-- UPDATE AREA -->
	
	<update id="updateCustomerInvoice" parameterType="CustomerInvoice">
		update `tm_customer_invoice`
		<set>
			<if test="invoice_serial != null">`invoice_serial`=#{invoice_serial},</if>
			<if test="customer != null and customer.id != null">`customer_id`=#{customer.id},</if>
			<if test="customerOrder != null and customerOrder.id != null">`order_id`=#{customerOrder.id},</if>
			<if test="create_date != null">`create_date`=#{create_date},</if>
			<if test="due_date != null">`due_date`=#{due_date},</if>
			<if test="amount_payable != null">`amount_payable`=#{amount_payable},</if>
			<if test="amount_paid != null">`amount_paid`=#{amount_paid},</if>
			<if test="balance != null">`balance`=#{balance},</if>
			<if test="status != null">`status`=#{status},</if>
			<if test="memo != null">`memo`=#{memo},</if>
			<if test="invoice_pdf_path != null">`invoice_pdf_path`=#{invoice_pdf_path},</if>
			<if test="paid_date != null">`paid_date`=#{paid_date},</if>
			<if test="paid_type != null">`paid_type`=#{paid_type},</if>
			<if test="last_invoice_id != null">`last_invoice_id`=#{last_invoice_id}</if>
		</set>
		<where>
			<if test="params.id != null">id=#{params.id}</if>
		</where>
	</update>
	
	<!-- // END UPDATE AREA -->
	<!-- =================================================================================== -->
	<!-- DELETE AREA --><!-- // END DELETE AREA -->

	
</mapper>