<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->


<mapper namespace="com.tm.broadband.mapper.EarlyTerminationRefundMapper">

	<!-- DEFINITION AREA -->
	
	<sql id="earlyTerminationRefundColumns">
		etr.`id` 							as etr_id,
		etr.`customer_id` 					as etr_customer_id,
		etr.`order_id` 						as etr_order_id,
		etr.`product_monthly_price` 		as etr_product_monthly_price,
		etr.`create_date` 					as etr_create_date,
		etr.`termination_date` 				as etr_termination_date,
		etr.`refund_bank_account_number` 	as etr_refund_bank_account_number,
		etr.`refund_bank_account_name` 		as etr_refund_bank_account_name,
		etr.`refund_amount` 				as etr_refund_amount,
		etr.`execute_by` 					as etr_execute_by,
		etr.`refund_pdf_path` 				as etr_refund_pdf_path
	</sql>
	
	<resultMap type="EarlyTerminationRefund" id="earlyTerminationRefundResultMap">
		<id property="id" column="etr_id" />
		<result property="customer_id" column="etr_customer_id" />
		<result property="order_id" column="etr_order_id" />
		<result property="product_monthly_price" column="etr_product_monthly_price" />
		<result property="create_date" column="etr_create_date" />
		<result property="termination_date" column="etr_termination_date" />
		<result property="refund_bank_account_number" column="etr_refund_bank_account_number" />
		<result property="refund_bank_account_name" column="etr_refund_bank_account_name" />
		<result property="refund_amount" column="etr_refund_amount" />
		<result property="execute_by" column="etr_execute_by" />
		<result property="refund_pdf_path" column="etr_refund_pdf_path" />
	</resultMap>
	
	<sql id="earlyTerminationRefundWhere">
		<where>
			<if test="params.id != null">etr.id = #{params.id}</if>
			<if test="params.customer_id != null">and etr.customer_id = #{params.customer_id}</if>
			<if test="params.order_id != null">and etr.order_id = #{params.order_id}</if>
			<if test="params.product_monthly_price != null">and etr.product_monthly_price = #{params.product_monthly_price}</if>
			<if test="params.create_date != null">and etr.create_date = #{params.create_date}</if>
			<if test="params.termination_date != null">and etr.termination_date = #{params.termination_date}</if>
			<if test="params.refund_bank_account_number != null">and etr.refund_bank_account_number = #{params.refund_bank_account_number}</if>
			<if test="params.refund_bank_account_name != null">and etr.refund_bank_account_name = #{params.refund_bank_account_name}</if>
			<if test="params.refund_amount != null">and etr.refund_amount = #{params.refund_amount}</if>
			<if test="params.execute_by != null">and etr.execute_by = #{params.execute_by}</if>
			<if test="params.refund_pdf_path != null">and etr.refund_pdf_path = #{params.refund_pdf_path}</if>
		</where>
	</sql>
	<!-- // DEFINITION AREA -->
	
	<!-- =================================================================================== -->

	<!-- SELECT AREA -->
	
	<select id="selectEarlyTerminationRefund" parameterType="EarlyTerminationRefund" resultType="EarlyTerminationRefund">
		select * from tm_early_termination_refund as etr
		<include refid="earlyTerminationRefundWhere"/>
	</select>
	
	<!-- select contactUs page -->
	<select id="selectEarlyTerminationRefundsByPage" parameterType="Page" resultMap="earlyTerminationRefundResultMap">
		select 
			<include refid="earlyTerminationRefundColumns"/>
			from tm_early_termination_refund as etr
			<include refid="earlyTerminationRefundWhere"/>
			<if test="params.orderby != null">${params.orderby}</if>
			limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select contactUs amount -->
	<select id="selectEarlyTerminationRefundsSum" parameterType="Page" resultType="int">
		select count(*) from tm_early_termination_refund as etr
		<include refid="earlyTerminationRefundWhere"/>
	</select>

	<!-- select contactUs by id -->
	<select id="selectEarlyTerminationRefundById" parameterType="int" resultType="EarlyTerminationRefund">
		select * from tm_early_termination_refund where id = #{0}
	</select>
	
	<select id="selectEarlyTerminationRefundPDFPathById" parameterType="int" resultType="String">
		select invoice_pdf_path from tm_early_termination_refund where id = #{0}
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<insert id="insertEarlyTerminationRefund" parameterType="EarlyTerminationRefund" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tm_early_termination_refund`(
			`customer_id`, `order_id`, `product_monthly_price`, `create_date`, `termination_date`
			, `refund_bank_account_number`, `refund_bank_account_name`, `refund_amount`
			, `execute_by`, `refund_pdf_path`
		) VALUES (
			#{customer_id}, #{order_id}, #{product_monthly_price}, #{create_date}, #{termination_date}
			,#{refund_bank_account_number}, #{refund_bank_account_name}, #{refund_amount}
			, #{execute_by}, #{refund_pdf_path}
		)
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->
	
	<!-- UPDATE AREA -->
	
	<!-- update contactUs -->
	<update id="updateEarlyTerminationRefund" parameterType="EarlyTerminationRefund">
		update tm_early_termination_refund
		<set>
			<if test="customer_id != null">customer_id = #{customer_id},</if>
			<if test="order_id != null">order_id = #{order_id},</if>
			<if test="product_monthly_price != null">product_monthly_price = #{product_monthly_price},</if>
			<if test="create_date != null">create_date = #{create_date},</if>
			<if test="termination_date != null">termination_date = #{termination_date},</if>
			<if test="refund_bank_account_number != null">refund_bank_account_number = #{refund_bank_account_number},</if>
			<if test="refund_bank_account_name != null">refund_bank_account_name = #{refund_bank_account_name},</if>
			<if test="overdue_extra_charge != null">overdue_extra_charge = #{overdue_extra_charge},</if>
			<if test="refund_amount != null">refund_amount = #{refund_amount},</if>
			<if test="execute_by != null">execute_by = #{execute_by},</if>
			<if test="refund_pdf_path != null">refund_pdf_path = #{refund_pdf_path}</if>
		</set>
		<where>
			<if test="params.id != null">id = #{params.id}</if>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->

	<!-- DELETE AREA -->
	
	<delete id="deleteEarlyTerminationRefundById" parameterType="int">
		DELETE FROM tm_early_termination_refund WHERE id = #{0}
	</delete>
	
	<!-- // END DELETE AREA -->

</mapper>