<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tm.broadband.mapper.NotificationMapper">
	
	
	<insert id="insertNotification" parameterType="Notification">
		insert into tm_notification(title,content,type)
		values(#{title},#{content},#{type})
	</insert>
	
	<update id="updateNotification" parameterType="Notification">
		UPDATE `tm_notification` SET `title`=#{title},`content`=#{content},`type`=#{type}
	</update>
	
	<!-- select notification page -->
	<select id="selectNotificationsByPage" parameterType="Page" resultType="Notification">
		select * from tm_notification 
		${params.orderby} limit #{pageOffset}, #{pageSize}
	</select>
	
	<!-- select notification page -->
	<select id="selectNotifications" resultType="Notification">
		select * from tm_notification
	</select>
	
	<!-- select notification amount -->
	<select id="selectNotificationsSum" parameterType="Page" resultType="int">
		select count(*) from tm_notification 
	</select>
	
	<!-- select one notification by id -->
	<select id="selectNotificationById" resultType="Notification">
		SELECT * FROM `tm_notification` WHERE  id = #{0}
	</select>
	
</mapper>