<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->


<mapper namespace="com.tm.broadband.mapper.OrganizationMapper">

	<!-- DEFINITION AREA -->
	
	<sql id="organizationColumns">
		o.`customer_id`				as o_customer_id
		, o.`org_name`				as o_org_name
		, o.`org_type`				as o_org_type
		, o.`org_trading_name`		as o_org_trading_name
		, o.`org_register_no`		as o_org_register_no
		, o.`org_incoporate_date`	as o_incoporate_date
		, o.`org_trading_months`	as o_trading_months
		, o.`holder_name`			as o_holder_name
		, o.`holder_job_title`		as o_holder_job_title
		, o.`holder_phone`			as o_holder_phone
		, o.`holder_email`			as o_holder_email
	</sql>
	<resultMap type="Organization" id="organizationResultMap">
		<id property="customer_id" column="o_customer_id"/>
		<result property="org_name" column="o_org_name"/>
		<result property="org_type" column="o_org_type"/>
		<result property="org_trading_name" column="o_org_trading_name"/>
		<result property="org_register_no" column="o_org_register_no"/>
		<result property="org_incoporate_date" column="o_incoporate_date"/>
		<result property="org_trading_months" column="o_trading_months"/>
		<result property="holder_name" column="o_holder_name"/>
		<result property="holder_job_title" column="o_holder_job_title"/>
		<result property="holder_phone" column="o_holder_phone"/>
		<result property="holder_email" column="o_holder_email"/>
	</resultMap>
	
	<!-- // DEFINITION AREA -->
	
	<!-- =================================================================================== -->

	<!-- SELECT AREA -->
	
	<!-- select organization by customer_id -->
	<select id="selectOrganizationByCustomerId" parameterType="int" resultType="Organization">
		select * from tm_organization where customer_id = #{0}
	</select>
	
	<!-- select organization page -->
	<select id="selectOrganizationsByPage" parameterType="Page" resultType="Organization">
		select * from tm_organization
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select organization amount -->
	<select id="selectOrganizationsSum" parameterType="Page" resultType="int">
		select count(*) from tm_organization
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<!-- when customer register or administrator create customer, insert customer  information -->
	<insert id="insertOrganization" parameterType="Organization">
		INSERT INTO `tm_organization`(
		`customer_id`, `org_name`, `org_type`, `org_trading_name`, `org_register_no`, `org_incoporate_date`,
		`org_trading_months`, `holder_name`, `holder_job_title`, `holder_phone`, `holder_email`)
		VALUES (
		#{customer_id}, #{org_name}, #{org_type}, #{org_trading_name}, #{org_register_no}, #{org_incoporate_date}, 
		#{org_trading_months}, #{holder_name}, #{holder_job_title}, #{holder_phone}, #{holder_email})
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->
	
	<!-- UPDATE AREA -->
	
	<!-- update customer -->
	<update id="updateOrganization" parameterType="Organization">
		update tm_organization
		<set>
			<if test="org_name != null">org_name = #{org_name},</if>
			<if test="org_type != null">org_type = #{org_type},</if>
			<if test="org_name != null">org_name = #{org_name},</if>
			<if test="org_trading_name != null">org_trading_name = #{org_trading_name},</if>
			<if test="org_register_no != null">org_register_no = #{org_register_no},</if>
			<if test="org_incoporate_date != null">org_incoporate_date = #{org_incoporate_date},</if>
			<if test="org_trading_months != null">org_trading_months = #{org_trading_months},</if>
			<if test="holder_name != null">holder_name = #{holder_name},</if>
			<if test="holder_job_title != null">holder_job_title = #{holder_job_title},</if>
			<if test="holder_phone != null">holder_phone = #{holder_phone},</if>
			<if test="holder_email != null">holder_email = #{holder_email}</if>
		</set>
		<where>
			<if test="params.customer_id != null">customer_id=#{params.customer_id}</if>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->

	<!-- DELETE AREA -->
	
	<!-- // END DELETE AREA -->

</mapper>