<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tm.broadband.mapper.PlanMapper">
	
	<!-- create plan -->
	<insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tm_plan`(
			`plan_name`, `plan_desc`, `plan_price`, `data_flow`, 
			`plan_status`, `plan_type`, `plan_sort`, `memo`, `plan_group`, `plan_new_connection_fee`,  `create_date`, `create_by`, `plan_topupid_array`) 
		VALUES (
			#{plan_name},#{plan_desc},#{plan_price},#{data_flow},
			#{plan_status},#{plan_type},#{plan_sort},#{memo},#{plan_group},#{plan_new_connection_fee},now(),#{create_by.id},#{plan_topupid_array})
	</insert>
	
	<!-- select plan page -->
	<select id="selectPlansByPage" parameterType="Page" resultType="Plan">
		select * from tm_plan 
		${params.orderby} limit #{pageOffset}, #{pageSize}
	</select>
	
	<!-- select plan amount -->
	<select id="selectPlansSum" parameterType="Page" resultType="int">
		select count(*) from tm_plan 
	</select>
	
	<!-- when create plan, check same name -->
	<select id="selectExistPlanByName" resultType="int">
		select count(*) from tm_plan where plan_name = #{0} 
	</select>
	
	<!-- when update plan, check same name -->
	<select id="selectExistNotSelfPlanfByName" resultType="int">
		select count(*) from tm_plan where plan_name = #{0} and id != #{1}
	</select>
	
	<!-- update plan -->
	<update id="updatePlan" parameterType="Plan">
		UPDATE `tm_plan` SET 
			`plan_name`=#{plan_name},`plan_desc`=#{plan_desc},`plan_price`=#{plan_price},
			`data_flow`=#{data_flow},`plan_status`=#{plan_status},`plan_type`=#{plan_type},
			`plan_sort`=#{plan_sort},`memo`=#{memo},`plan_group`=#{plan_group},`plan_new_connection_fee`=#{plan_new_connection_fee},
			`last_update_date`=now(),`last_update_by`=#{last_update_by.id},`plan_topupid_array`=#{plan_topupid_array}
		WHERE `id`=#{id}
	</update>
	
	<!-- only update plan status -->
	<update id="updatePlanStatusById" >
		UPDATE `tm_plan` SET `plan_status`=#{0} where `id`=#{1}
	</update>
	
	<!-- select one plan by id -->
	<select id="selectPlanById" resultType="Plan">
		SELECT * FROM `tm_plan` WHERE  id = #{0}
	</select>
	
	<!-- select plans by type -->
	<select id="selectPlansByType" resultType="Plan">
		select * from tm_plan where plan_type = #{0}
	</select>
	
	<insert id="insertPlanTopup">
		INSERT INTO tm_plan_topup(plan_id,topup_id) VALUES(#{0},#{1})
	</insert>
	
	<delete id="deletePlanTopupById">
		DELETE FROM tm_plan_topup WHERE plan_id=#{0}
	</delete>
	
	
	<!-- selectPlansBySome --> 
	<select id="selectPlansBySome" parameterType="Plan" resultType="Plan">
		select * from `tm_plan` where 1=1
		<if test="plan_group != null">
			and plan_group = #{plan_group}
		</if>
		<if test="plan_sort != null">
			and plan_sort = #{plan_sort}
		</if>
		<if test="plan_status != null">
			and plan_status = #{plan_status}
		</if>
		<if test="params.orderby != null">
			${params.orderby}
		</if>
	</select>
	
</mapper>