<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.PlanMapper">

	<!-- DEFINITION AREA -->
	
	<sql id="planColumns">
		p.`id`							as p_id, 
		p.`plan_name`					as p_plan_name, 		
		p.`plan_desc`					as p_plan_desc,
		p.`plan_price`					as p_plan_price,
		p.`original_price`				as p_original_price,
		p.`data_flow`					as p_data_flow,
		p.`data_flow_k`					as p_data_flow_k,
		p.`plan_status`					as p_plan_status,
		p.`plan_type`					as p_plan_type,
		p.`plan_sort`					as p_plan_sort,
		p.`plan_group`					as p_plan_group, 
		p.`plan_class`					as p_plan_class,
		p.`plan_new_connection_fee`		as p_plan_new_connection_fee,
		p.`memo`						as p_memo,
		p.`plan_prepay_months`			as p_plan_prepay_months,
		p.`pstn_count`					as p_pstn_count,
		p.`pstn_rental_amount`			as p_pstn_rental_amount,
		p.`term_period`					as p_term_period,
		p.`img1`						as p_img1, 
		p.`img2`						as p_img2,
		p.`img3` 						as p_img3,
		p.`promotion`					as p_promotion,
		p.`place_sort`					as p_place_sort,
		p.`jackpot_fee`					as p_jackpot_fee,
		p.`transition_fee`				as p_transition_fee,
		p.`voip_count`					as p_voip_count
	</sql>
	<resultMap type="Plan" id="planResultMap">
		<id property="id" column="p_id" />
		<result property="plan_name" column="p_plan_name" />
		<result property="plan_desc" column="p_plan_desc" />
		<result property="plan_price" column="p_plan_price" />
		<result property="original_price" column="p_original_price" />
		<result property="data_flow" column="p_data_flow" />
		<result property="data_flow_k" column="p_data_flow_k" />
		<result property="plan_status" column="p_plan_status" />
		<result property="plan_type" column="p_plan_type" />
		<result property="plan_sort" column="p_plan_sort" />
		<result property="plan_group" column="p_plan_group" />
		<result property="plan_class" column="p_plan_class" />
		<result property="plan_new_connection_fee" column="p_plan_new_connection_fee" />
		<result property="memo" column="p_memo" />
		<result property="plan_prepay_months" column="p_plan_prepay_months" />
		<result property="pstn_count" column="p_pstn_count" />
		<result property="pstn_rental_amount" column="p_pstn_rental_amount" />
		<result property="term_period" column="p_term_period" />
		<result property="img1" column="p_img1" />
		<result property="img2" column="p_img2" />
		<result property="img3" column="p_img3" />
		<result property="promotion" column="p_promotion" />
		<result property="place_sort" column="p_place_sort" />
		<result property="jackpot_fee" column="p_jackpot_fee" />
		<result property="transition_fee" column="p_transition_fee" />
		<result property="voip_count" column="p_voip_count" />
	</resultMap>
	
	<sql id="planWhere">
		<where>
			<choose>
				<when test="params.where=='query_exist_plan_by_name'">
					<if test="params.plan_name != null">p.plan_name=#{params.plan_name}</if>
				</when>
				<when test="params.where=='query_exist_not_self_plan_by_name'">
					<if test="params.plan_name != null">p.plan_name=#{params.plan_name}</if>
					<if test="params.id != null">and p.id != #{params.id}</if>
				</when>
				
				<when test="params.where=='update_plan'">
					<if test="params.id != null">id = #{params.id}</if>
				</when>
				<when test="params.where=='delete_plan'">
					<if test="params.id != null">id = #{params.id}</if>
				</when>
				<!-- <when test="params.where=='query_plans'">
					<if test="params.plan_group != null">and p.plan_group != #{params.plan_group}</if>
					<if test="params.plan_class != null">and p.plan_class = #{params.plan_class}</if>
					<if test="params.plan_type != null">and p.plan_type = #{params.plan_type}</if>
					<if test="params.plan_sort != null">and p.plan_sort = #{params.plan_sort}</if>
					<if test="params.plan_status != null">and p.plan_status = #{params.plan_status}</if>
				</when> -->
				
				<otherwise>
					<if test="params.id != null">and p.id = #{params.id}</if>
					<if test="params.plan_group != null">and p.plan_group = #{params.plan_group}</if>
					<if test="params.plan_group_false != null">and p.plan_group != #{params.plan_group_false}</if>
					<if test="params.plan_class != null">and p.plan_class = #{params.plan_class}</if>
					<if test="params.plan_type != null">and p.plan_type = #{params.plan_type}</if>
					<if test="params.plan_sort != null">and p.plan_sort = #{params.plan_sort}</if>
					<if test="params.plan_status != null">and p.plan_status = #{params.plan_status}</if>
					<if test="params.promotion != null">and p.promotion = #{params.promotion}</if>
				</otherwise>
			</choose>
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- SELECT AREA -->
	 
	<select id="selectPlan" parameterType="Plan" resultType="Plan">
		select * from tm_plan as p
		<include refid="planWhere"/>
	</select>
	
	<select id="selectPlans" parameterType="Plan" resultType="Plan">
		select * from tm_plan as p
		<include refid="planWhere"/>
		<if test="params.orderby != null">${params.orderby}</if>
	</select>
	
	<!-- select plan page -->
	<select id="selectPlansByPage" parameterType="Page" resultType="Plan">
		select * from tm_plan as p 
		<include refid="planWhere"/>
		<if test="params.orderby != null">${params.orderby}</if>
		limit #{pageOffset}, #{pageSize}
	</select>
	
	<!-- select plan sum -->
	<select id="selectPlansSum" parameterType="Page" resultType="int">
		select count(*) from tm_plan as p
		<include refid="planWhere"/>
	</select>
	
	<select id="selectExistPlan" resultType="int">
		select count(*) from tm_plan as p
		<include refid="planWhere"/>
	</select>
	
	<!-- // END SELECT AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- INSERT AREA -->
	
	<!-- create plan -->
	<insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tm_plan`(
			`plan_name`, `plan_desc`, `plan_price`, `original_price`, `data_flow`, `data_flow_k`,
			`plan_status`, `plan_type`, `plan_sort`, `plan_group`, `plan_class`, 
			`plan_new_connection_fee`, `memo`, `plan_prepay_months`, `pstn_count`, `pstn_rental_amount`, 
			`term_period`, `img1`, `img2`, `img3`, `promotion`, `place_sort`, `jackpot_fee`, `transition_fee`, `voip_count`) 
		VALUES (
			#{plan_name}, #{plan_desc}, #{plan_price}, #{original_price}, #{data_flow}, #{data_flow_k},
			#{plan_status}, #{plan_type}, #{plan_sort}, #{plan_group}, #{plan_class}, 
			#{plan_new_connection_fee}, #{memo}, #{plan_prepay_months}, #{pstn_count}, #{pstn_rental_amount}, 
			#{term_period}, #{img1}, #{img2}, #{img3}, #{promotion}, #{place_sort}, #{jackpot_fee}, #{transition_fee}, #{voip_count})
	</insert>
	
	<!-- // END INSERT AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- UPDATE AREA -->
	
	<!-- update plan -->
	<update id="updatePlan" parameterType="Plan">
		UPDATE `tm_plan`
		<set>
			<if test="plan_name != null">`plan_name`=#{plan_name},</if>
			<if test="plan_desc != null">`plan_desc`=#{plan_desc},</if>
			<if test="plan_price != null">`plan_price`=#{plan_price},</if>
			<if test="original_price != null">`original_price`=#{original_price},</if>
			<if test="data_flow != null">`data_flow`=#{data_flow},</if>
			<if test="data_flow_k != null">`data_flow_k`=#{data_flow_k},</if>
			<if test="plan_status != null">`plan_status`=#{plan_status},</if>
			<if test="plan_type != null">`plan_type`=#{plan_type},</if>
			<if test="plan_sort != null">`plan_sort`=#{plan_sort},</if>
			<if test="plan_group != null">`plan_group`=#{plan_group},</if>
			<if test="plan_class != null">`plan_class`=#{plan_class},</if>
			<if test="plan_new_connection_fee != null">`plan_new_connection_fee`=#{plan_new_connection_fee},</if>
			<if test="memo != null">`memo`=#{memo},</if>
			<if test="plan_prepay_months != null">`plan_prepay_months`=#{plan_prepay_months},</if>
			<if test="pstn_count != null">`pstn_count`=#{pstn_count},</if>
			<if test="pstn_rental_amount != null">`pstn_rental_amount`=#{pstn_rental_amount},</if>
			<if test="term_period != null">`term_period`=#{term_period},</if>
			<if test="img1 != null">`img1`=#{img1},</if>
			<if test="img2 != null">`img2`=#{img2},</if>
			<if test="img3 != null">`img3`=#{img3},</if>
			<if test="promotion != null">`promotion`=#{promotion},</if>
			<if test="place_sort != null">`place_sort`=#{place_sort},</if>
			<if test="jackpot_fee != null">`jackpot_fee`=#{jackpot_fee},</if>
			<if test="transition_fee != null">`transition_fee`=#{transition_fee},</if>
			<if test="voip_count != null">`voip_count`=#{voip_count}</if>
		</set>
		<include refid="planWhere"/>
	</update>
	
	<!-- // END UPDATE AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- DELETE AREA -->
	
	<delete id="deletePlan" parameterType="Plan">
		DELETE FROM tm_plan
		<include refid="planWhere"/>
	</delete>
	
	<!-- // END DELETE AREA -->
	
</mapper>