<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.RadacctMapper">
	
	<!-- DEFINITION AREA -->
	
	<sql id="radiusRadacctColumns">
		rr.radacctid	 		as rr_radacctid,
		rr.username				as rr_username,
		rr.nasipaddress			as rr_nasipaddress,
		rr.nasportid			as rr_nasportid,
		rr.acctstarttime		as rr_acctstarttime,
		rr.acctstoptime			as rr_acctstoptime,
		rr.acctsessiontime		as rr_acctsessiontime,
		rr.connectinfo_start	as rr_connectinfo_start,
		rr.acctinputoctets		as rr_acctinputoctets,
		rr.acctoutputoctets		as rr_acctoutputoctets,
		rr.calledstationid		as rr_calledstationid,
		rr.acctterminatecause	as rr_acctterminatecause,
		rr._accttime			as rr__accttime
	</sql>
	
	<resultMap type="com.tm.broadband.batch.domain.RadiusRadacct" id="radiusRadacctResultMap">
		<result property="radacctid" column="rr_radacctid" />
		<result property="username" column="rr_username" />
		<result property="nasipaddress" column="rr_nasipaddress" />
		<result property="nasportid" column="rr_nasportid" />
		<result property="acctstarttime" column="rr_acctstarttime" />
		<result property="acctstoptime" column="rr_acctstoptime" />
		<result property="acctsessiontime" column="rr_acctsessiontime" />
		<result property="connectinfo_start" column="rr_connectinfo_start" />
		<result property="acctinputoctets" column="rr_acctinputoctets" />
		<result property="acctoutputoctets" column="rr_acctoutputoctets" />
		<result property="calledstationid" column="rr_calledstationid" />
		<result property="acctterminatecause" column="rr_acctterminatecause" />
		<result property="_accttime" column="rr__accttime" />
	</resultMap>
	
	<sql id="radiusRadacctWhere">
		<where>
			<!-- rr.connectinfo_start is not null -->
			length(trim(rr.connectinfo_start)) > 1
			and rr._accttime > date_add(now(), interval -7 day)
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	<!-- =================================================================================== -->
	<!-- SELECT AREA -->
	
	<!-- <select id="selectRadiusRadaccts" resultMap="radiusRadacctResultMap">
		select 
			<include refid="radiusRadacctColumns"/>
		from radacct as rr
			<include refid="radiusRadacctWhere" />
		LIMIT #{_skiprows}, #{_pagesize}
	</select> -->
	
	<select id="selectMaxCount" resultType="Long">
		select max(maxcount) from tm_temp_data_usage
	</select>
	
	<select id="selectMaxCountMinByDate" resultType="Long">
		select min(maxcount) from tm_temp_data_usage where usage_date &gt; #{0}
	</select>
	
	<select id="selectMaxCountMaxByDate" resultType="Long">
		select max(maxcount) from tm_temp_data_usage where usage_date &gt; #{0}
	</select>
	
	<select id="selectRadiusRadaccts" resultType="com.tm.broadband.batch.domain.RadiusRadacct"><!--  resultMap="radiusRadacctResultMap" -->
		select 
			`connectinfo_start`, sum(`acctinputoctets`) as acctinputoctets, sum(`acctoutputoctets`) as acctoutputoctets
		from radacct
		group by connectinfo_start having length(trim(connectinfo_start)) > 1
		LIMIT #{_skiprows}, #{_pagesize}
	</select>
	
	<select id="selectDataUsageRecent" parameterType="int" resultType="TempDataUsage">
		SELECT `vlan`, usage_date, sum(`upload`) as upload, sum(`download`) as download FROM `tm_temp_data_usage`
		WHERE maxcount = #{0} group by `vlan`, usage_date
	</select>
	<!-- // END SELECT AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- INSERT AREA -->
	
	<insert id="insertRadacct" parameterType="Radacct">
		INSERT INTO `tm_radacct`(
			`radacctid`, `username`, `nasipaddress`, `nasportid`, `acctstarttime`, 
			`acctstoptime`, `acctsessiontime`, `connectinfo_start`, `acctinputoctets`, `acctoutputoctets`, `calledstationid`, 
			`acctterminatecause`, `_accttime`) 
		VALUES (
			#{radacctid}, #{username}, #{nasipaddress}, #{nasportid}, #{acctstarttime},
			#{acctstoptime}, #{acctsessiontime}, #{connectinfo_start}, #{acctinputoctets}, #{acctoutputoctets}, #{calledstationid},
			#{acctterminatecause}, #{_accttime})
	</insert>
	
	<insert id="insertTempDateUsage" parameterType="TempDataUsage">
		insert into `tm_temp_data_usage`
		(`vlan`, `usage_date`, `upload`, `download`, maxcount)
		values 
		(#{vlan}, #{usage_date}, #{upload}, #{download}, #{maxcount})
	</insert>
	
	<!-- // END INSERT AREA -->
	<!-- =================================================================================== -->
	
	<!-- UPDATE AREA -->
	
	
	
	<!-- // END UPDATE AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- DELETE AREA -->
	
	<delete id="deleteRadacct">
		delete from `tm_radacct` 
		where 
			length(trim(connectinfo_start)) > 1
			and _accttime > date_add(now(), interval -7 day)
	</delete>
	
	<!-- // END DELETE AREA -->
	
	
</mapper>