<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.TMSComboDetailMapper">

	<!-- DEFINITION AREA -->

	<sql id="tMSComboDetailColumns">
		tmscd.`id`				as tmscd_id,
		tmscd.`name`				as tmscd_name,
		tmscd.`group`				as tmscd_group,
		tmscd.`type`				as tmscd_type,
		tmscd.`wholesale_price`				as tmscd_wholesale_price,
		tmscd.`selling_price`				as tmscd_selling_price,
		tmscd.`earned_price`				as tmscd_earned_price
	</sql>

	<resultMap type="TMSComboDetail" id="tMSComboDetailResultMap">
		<id property="id" column="tmscd_id" />
		<result property="name" column="tmscd_name" />
		<result property="group" column="tmscd_group" />
		<result property="type" column="tmscd_type" />
		<result property="wholesale_price" column="tmscd_wholesale_price" />
		<result property="selling_price" column="tmscd_selling_price" />
		<result property="earned_price" column="tmscd_earned_price" />
	</resultMap>

	<sql id="tMSComboDetailWhere">
		<where>
			<if test="params.id != null">tmscd.id = #{params.id}</if>
			<if test="params.name != null">and tmscd.name = #{params.name}</if>
			<if test="params.group != null">and tmscd.group = #{params.group}</if>
			<if test="params.type != null">and tmscd.type = #{params.type}</if>
			<if test="params.wholesale_price != null">and tmscd.wholesale_price = #{params.wholesale_price}</if>
			<if test="params.selling_price != null">and tmscd.selling_price = #{params.selling_price}</if>
			<if test="params.earned_price != null">and tmscd.earned_price = #{params.earned_price}</if>
		</where>
	</sql>

	<!-- // DEFINITION AREA -->

	<!-- =================================================================================== -->

	<!-- SELECT AREA -->

	<select id="selectTMSComboDetail" parameterType="TMSComboDetail" resultType="TMSComboDetail">
		select * from tms_combo_detail as tmscd
		<include refid="tMSComboDetailWhere"/>
	</select>

	<!-- select tMSComboDetail page -->
	<select id="selectTMSComboDetailsByPage" parameterType="Page" resultMap="tMSComboDetailResultMap">
		select 
			<include refid="tMSComboDetailColumns"/>
			from tms_combo_detail as tmscd
			<include refid="tMSComboDetailWhere"/>
			<if test="params.orderby != null">${params.orderby}</if>
			limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select tMSComboDetail amount -->
	<select id="selectTMSComboDetailsSum" parameterType="Page" resultType="int">
		select count(*) from tms_combo_detail as tmscd
		<include refid="tMSComboDetailWhere"/>
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<insert id="insertTMSComboDetail" parameterType="TMSComboDetail" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tms_combo_detail`(
			`id`, `name`, `group`, `type`, `wholesale_price`, 
			`selling_price`, `earned_price`
		) VALUES (
			#{id}, #{name}, #{group}, #{type}, #{wholesale_price}, 
			#{selling_price}, #{earned_price}
		)
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->

	<!-- UPDATE AREA -->

	<!-- update tMSComboDetail -->
	<update id="updateTMSComboDetail" parameterType="TMSComboDetail">
		update tms_combo_detail
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="group != null">group = #{group},</if>
			<if test="type != null">type = #{type},</if>
			<if test="wholesale_price != null">wholesale_price = #{wholesale_price},</if>
			<if test="selling_price != null">selling_price = #{selling_price},</if>
			<if test="earned_price != null">earned_price = #{earned_price}</if>
		</set>
		<where>
			<if test="params.id != null">id = #{params.id}</if>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->
	<!-- DELETE AREA -->

	<delete id="deleteTMSComboDetailById" parameterType="int">
		DELETE FROM tms_combo_detail WHERE id = #{0}
	</delete>

	<!-- // END DELETE AREA -->

</mapper>