<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.TMSMaterialWholesalerMapper">

	<!-- DEFINITION AREA -->

	<sql id="tMSMaterialWholesalerColumns">
		tmsmw.`id`				as tmsmw_id,
		tmsmw.`name`				as tmsmw_name,
		tmsmw.`material_group`				as tmsmw_material_group,
		tmsmw.`material_type`				as tmsmw_material_type,
		tmsmw.`material_category`				as tmsmw_material_category,
		tmsmw.`description`				as tmsmw_description,
		tmsmw.`wholesaler_id`				as tmsmw_wholesaler_id,
		tmsmw.`wholesale_price`				as tmsmw_wholesale_price,
		tmsmw.`selling_price`				as tmsmw_selling_price,
		tmsmw.`earned_price`				as tmsmw_earned_price
	</sql>

	<resultMap type="TMSMaterialWholesaler" id="tMSMaterialWholesalerResultMap">
		<id property="id" column="tmsmw_id" />
		<result property="name" column="tmsmw_name" />
		<result property="material_group" column="tmsmw_material_group" />
		<result property="material_type" column="tmsmw_material_type" />
		<result property="material_category" column="tmsmw_material_category" />
		<result property="description" column="tmsmw_description" />
		<result property="wholesaler_id" column="tmsmw_wholesaler_id" />
		<result property="wholesale_price" column="tmsmw_wholesale_price" />
		<result property="selling_price" column="tmsmw_selling_price" />
		<result property="earned_price" column="tmsmw_earned_price" />
	</resultMap>

	<sql id="tMSMaterialWholesalerWhere">
		<where>
			<if test="params.id != null">tmsmw.id = #{params.id}</if>
			<if test="params.name != null">and tmsmw.name = #{params.name}</if>
			<if test="params.material_group != null">and tmsmw.material_group = #{params.material_group}</if>
			<if test="params.material_type != null">and tmsmw.material_type = #{params.material_type}</if>
			<if test="params.material_category != null">and tmsmw.material_category = #{params.material_category}</if>
			<if test="params.description != null">and tmsmw.description = #{params.description}</if>
			<if test="params.wholesaler_id != null">and tmsmw.wholesaler_id = #{params.wholesaler_id}</if>
			<if test="params.wholesale_price != null">and tmsmw.wholesale_price = #{params.wholesale_price}</if>
			<if test="params.selling_price != null">and tmsmw.selling_price = #{params.selling_price}</if>
			<if test="params.earned_price != null">and tmsmw.earned_price = #{params.earned_price}</if>
		</where>
	</sql>

	<!-- // DEFINITION AREA -->

	<!-- =================================================================================== -->

	<!-- SELECT AREA -->

	<select id="selectTMSMaterialWholesaler" parameterType="TMSMaterialWholesaler" resultType="TMSMaterialWholesaler">
		select * from tms_material_wholesaler as tmsmw
		<include refid="tMSMaterialWholesalerWhere"/>
	</select>

	<!-- select tMSMaterialWholesaler page -->
	<select id="selectTMSMaterialWholesalersByPage" parameterType="Page" resultMap="tMSMaterialWholesalerResultMap">
		select 
			<include refid="tMSMaterialWholesalerColumns"/>
			from tms_material_wholesaler as tmsmw
			<include refid="tMSMaterialWholesalerWhere"/>
			<if test="params.orderby != null">${params.orderby}</if>
			limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select tMSMaterialWholesaler amount -->
	<select id="selectTMSMaterialWholesalersSum" parameterType="Page" resultType="int">
		select count(*) from tms_material_wholesaler as tmsmw
		<include refid="tMSMaterialWholesalerWhere"/>
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<insert id="insertTMSMaterialWholesaler" parameterType="TMSMaterialWholesaler" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tms_material_wholesaler`(
			`name`, `material_group`, `material_type`, `material_category`, `description`, `wholesaler_id`, `wholesale_price`, `selling_price`, 
			`earned_price`
		) VALUES (
			#{name}, #{material_group}, #{material_type}, #{material_category}, #{description}, #{wholesaler_id}, #{wholesale_price}, #{selling_price}, 
			#{earned_price}
		)
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->

	<!-- UPDATE AREA -->

	<!-- update tMSMaterialWholesaler -->
	<update id="updateTMSMaterialWholesaler" parameterType="TMSMaterialWholesaler">
		update tms_material_wholesaler
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="material_group != null">material_group = #{material_group},</if>
			<if test="material_type != null">material_type = #{material_type},</if>
			<if test="material_category != null">material_category = #{material_category},</if>
			<if test="description != null">description = #{description},</if>
			<if test="wholesaler_id != null">wholesaler_id = #{wholesaler_id},</if>
			<if test="wholesale_price != null">wholesale_price = #{wholesale_price},</if>
			<if test="selling_price != null">selling_price = #{selling_price},</if>
			<if test="earned_price != null">earned_price = #{earned_price}</if>
		</set>
		<where>
			<if test="params.id != null">id = #{params.id}</if>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->
	<!-- DELETE AREA -->

	<delete id="deleteTMSMaterialWholesalerById" parameterType="int">
		DELETE FROM tms_material_wholesaler WHERE id = #{0}
	</delete>

	<!-- // END DELETE AREA -->

</mapper>