<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.TMSMaterialGroupMapper">

	<!-- DEFINITION AREA -->

	<sql id="tMSMaterialGroupColumns">
		tmsmg.`id`				as tmsmg_id,
		tmsmg.`group_name`				as tmsmg_group_name
	</sql>

	<resultMap type="TMSMaterialGroup" id="tMSMaterialGroupResultMap">
		<id property="id" column="tmsmg_id" />
		<result property="group_name" column="tmsmg_group_name" />
	</resultMap>

	<sql id="tMSMaterialGroupWhere">
		<where>
			<if test="params.id != null">tmsmg.id = #{params.id}</if>
			<if test="params.group_name != null">and tmsmg.group_name = #{params.group_name}</if>
		</where>
	</sql>

	<!-- // DEFINITION AREA -->

	<!-- =================================================================================== -->

	<!-- SELECT AREA -->

	<select id="selectTMSMaterialGroup" parameterType="TMSMaterialGroup" resultType="TMSMaterialGroup">
		select * from tms_material_group as tmsmg
		<include refid="tMSMaterialGroupWhere"/>
	</select>

	<!-- select tMSMaterialGroup page -->
	<select id="selectTMSMaterialGroupsByPage" parameterType="Page" resultMap="tMSMaterialGroupResultMap">
		select 
			<include refid="tMSMaterialGroupColumns"/>
			from tms_material_group as tmsmg
			<include refid="tMSMaterialGroupWhere"/>
			<if test="params.orderby != null">${params.orderby}</if>
			limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select tMSMaterialGroup amount -->
	<select id="selectTMSMaterialGroupsSum" parameterType="Page" resultType="int">
		select count(*) from tms_material_group as tmsmg
		<include refid="tMSMaterialGroupWhere"/>
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<insert id="insertTMSMaterialGroup" parameterType="TMSMaterialGroup" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tms_material_group`(
			`group_name`
		) VALUES (
			#{group_name}
		)
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->

	<!-- UPDATE AREA -->

	<!-- update tMSMaterialGroup -->
	<update id="updateTMSMaterialGroup" parameterType="TMSMaterialGroup">
		update tms_material_group
		<set>
			<if test="group_name != null">group_name = #{group_name}</if>
		</set>
		<where>
			<if test="params.id != null">id = #{params.id}</if>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->
	<!-- DELETE AREA -->

	<delete id="deleteTMSMaterialGroupById" parameterType="int">
		DELETE FROM tms_material_group WHERE id = #{0}
	</delete>

	<!-- // END DELETE AREA -->

</mapper>