<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.VOSVoIPCallRecordMapper">

	<!-- DEFINITION AREA -->

	<sql id="vOSVoIPCallRecordColumns">
		vosvipcr.`id`						as vosvipcr_id,
		vosvipcr.`call_start`				as vosvipcr_call_start,
		vosvipcr.`ori_number`				as vosvipcr_ori_number,
		vosvipcr.`dest_number`				as vosvipcr_dest_number,
		vosvipcr.`call_length`				as vosvipcr_call_length,
		vosvipcr.`charge_length`			as vosvipcr_charge_length,
		vosvipcr.`call_fee`					as vosvipcr_call_fee,
		vosvipcr.`call_cost`				as vosvipcr_call_cost,
		vosvipcr.`call_type`				as vosvipcr_call_type,
		vosvipcr.`area_prefix`				as vosvipcr_area_prefix,
		vosvipcr.`invoice_id`				as vosvipcr_invoice_id
	</sql>

	<resultMap type="VOSVoIPCallRecord" id="vOSVoIPCallRecordResultMap">
		<id property="id" column="vosvipcr_id" />
		<result property="call_start" column="vosvipcr_call_start" />
		<result property="ori_number" column="vosvipcr_ori_number" />
		<result property="dest_number" column="vosvipcr_dest_number" />
		<result property="call_length" column="vosvipcr_call_length" />
		<result property="charge_length" column="vosvipcr_charge_length" />
		<result property="call_fee" column="vosvipcr_call_fee" />
		<result property="call_cost" column="vosvipcr_call_cost" />
		<result property="call_type" column="vosvipcr_call_type" />
		<result property="area_prefix" column="vosvipcr_area_prefix" />
		<result property="invoice_id" column="vosvipcr_invoice_id" />
	</resultMap>

	<sql id="vOSVoIPCallRecordWhere">
		<where>
			<choose>
				<when test="params.where == 'query_disconnected_records'">
					vosvipcr.ori_number IN(
						SELECT REPLACE(REPLACE(REPLACE(pstn_number,'-',''),'(',''),')','') FROM tm_customer_order_detail
						WHERE pstn_number IS NOT NULL
						AND detail_type='voip'
						AND order_id IN(
							SELECT id FROM tm_customer_order
							WHERE order_status='disconnected'
						)
					)
					AND vosvipcr.invoice_id IS NULL
					AND DATE_FORMAT(vosvipcr.call_start,'%Y-%m')=DATE_FORMAT(#{params.last_month_date},'%Y-%m')
					AND vosvipcr.call_cost&gt;0
				</when>
				<when test="params.where == 'query_unmatched_records'">
					vosvipcr.ori_number NOT IN(
						SELECT REPLACE(REPLACE(REPLACE(pstn_number,'-',''),'(',''),')','') FROM tm_customer_order_detail
						WHERE pstn_number IS NOT NULL
						AND detail_type='voip'
					)
					AND vosvipcr.invoice_id IS NULL
					AND vosvipcr.ori_number NOT LIKE '0800%'
					AND vosvipcr.ori_number not in(CONCAT('${params.not_in_ori_number}'))
					AND DATE_FORMAT(vosvipcr.call_start,'%Y-%m')=DATE_FORMAT(#{params.last_month_date},'%Y-%m')
					AND vosvipcr.call_cost&gt;0
				</when>
				<when test="params.where == 'query_call_records'">
					<if test="params.ori_number != null">and vosvipcr.ori_number LIKE CONCAT('%', '${params.ori_number}')</if>
					<if test="params.invoice_id != null">
						AND vosvipcr.invoice_id = #{params.invoice_id}
					</if>
					<if test="params.invoice_id == null">
						AND vosvipcr.invoice_id IS NULL
					</if>
				</when>
				<otherwise>
					<if test="params.id != null">vosvipcr.id = #{params.id}</if>
					<if test="params.call_start != null">and vosvipcr.call_start = #{params.call_start}</if>
					<if test="params.ori_number != null">and vosvipcr.ori_number = #{params.ori_number}</if>
					<if test="params.dest_number != null">and vosvipcr.dest_number = #{params.dest_number}</if>
					<if test="params.call_length != null">and vosvipcr.call_length = #{params.call_length}</if>
					<if test="params.charge_length != null">and vosvipcr.charge_length = #{params.charge_length}</if>
					<if test="params.call_fee != null">and vosvipcr.call_fee = #{params.call_fee}</if>
					<if test="params.call_cost != null">and vosvipcr.call_cost = #{params.call_cost}</if>
					<if test="params.call_type != null">and vosvipcr.call_type = #{params.call_type}</if>
					<if test="params.area_prefix != null">and vosvipcr.area_prefix = #{params.area_prefix}</if>
					<if test="params.invoice_id != null">and vosvipcr.invoice_id = #{params.invoice_id}</if>
				</otherwise>
			</choose>
		</where>
	</sql>

	<!-- // DEFINITION AREA -->

	<!-- =================================================================================== -->

	<!-- SELECT AREA -->
	
	<select id="selectVOSVoIPCallRecordsByCallStart" parameterType="VOSVoIPCallRecord" resultType="VOSVoIPCallRecord">
		select * from tm_vos_voip_call_record
		<where>
			<if test="params.call_start != null">
				DATE_FORMAT(call_start,'%Y-%m') = DATE_FORMAT(#{params.call_start},'%Y-%m')
			</if>
		</where>
	</select>

	<select id="selectVOSVoIPCallRecord" parameterType="VOSVoIPCallRecord" resultType="VOSVoIPCallRecord">
		select * from tm_vos_voip_call_record as vosvipcr
		<include refid="vOSVoIPCallRecordWhere"/>
		<if test="params.groupby != null">${params.groupby}</if>
	</select>

	<!-- select vOSVoIPCallRecord page -->
	<select id="selectVOSVoIPCallRecordsByPage" parameterType="Page" resultMap="vOSVoIPCallRecordResultMap">
		select 
			<include refid="vOSVoIPCallRecordColumns"/>
			from tm_vos_voip_call_record as vosvipcr
			<include refid="vOSVoIPCallRecordWhere"/>
			<if test="params.orderby != null">${params.orderby}</if>
			limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select vOSVoIPCallRecord amount -->
	<select id="selectVOSVoIPCallRecordsSum" parameterType="Page" resultType="int">
		select count(*) from tm_vos_voip_call_record as vosvipcr
		<include refid="vOSVoIPCallRecordWhere"/>
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<insert id="insertVOSVoIPCallRecord" parameterType="VOSVoIPCallRecord" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tm_vos_voip_call_record`(
			`id`, `call_start`, `ori_number`, `dest_number`, `call_length`, 
			`charge_length`, `call_fee`, `call_cost`, `call_type`, `area_prefix`, `invoice_id`
		) VALUES (
			#{id}, #{call_start}, #{ori_number}, #{dest_number}, #{call_length}, 
			#{charge_length}, #{call_fee}, #{call_cost}, #{call_type}, #{area_prefix}, #{invoice_id}
		)
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->

	<!-- UPDATE AREA -->

	<!-- update vOSVoIPCallRecord -->
	<update id="updateVOSVoIPCallRecord" parameterType="VOSVoIPCallRecord">
		update tm_vos_voip_call_record
		<set>
			<if test="call_start != null">call_start = #{call_start},</if>
			<if test="ori_number != null">ori_number = #{ori_number},</if>
			<if test="dest_number != null">dest_number = #{dest_number},</if>
			<if test="call_length != null">call_length = #{call_length},</if>
			<if test="charge_length != null">charge_length = #{charge_length},</if>
			<if test="call_fee != null">call_fee = #{call_fee},</if>
			<if test="call_cost != null">call_cost = #{call_cost},</if>
			<if test="call_type != null">call_type = #{call_type},</if>
			<if test="area_prefix != null">area_prefix = #{area_prefix},</if>
			<if test="invoice_id != null">invoice_id = #{invoice_id}</if>
		</set>
		<where>
			<choose>
				<when test="params.where == 'last_call_records'">
					and ori_number = #{params.ori_number}
					<if test="params.invoice_id != null">
						AND invoice_id = #{params.invoice_id}
					</if>
					<if test="params.invoice_id == null">
						AND invoice_id IS NULL
					</if>
				</when>
				<otherwise>
					<if test="params.id != null">id = #{params.id}</if>
				</otherwise>
			</choose>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->
	<!-- DELETE AREA -->

	<delete id="deleteVOSVoIPCallRecordById" parameterType="int">
		DELETE FROM tm_vos_voip_call_record WHERE id = #{0}
	</delete>

	<!-- // END DELETE AREA -->

</mapper>