<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.broadband.mapper.radius.RadiusRadacctMapper">
	
	<!-- DEFINITION AREA -->
	
	<sql id="radiusRadacctColumns">
		rr.radacctid	 		as rr_radacctid,
		rr.username				as rr_username,
		rr.nasipaddress			as rr_nasipaddress,
		rr.nasportid			as rr_nasportid,
		rr.acctstarttime		as rr_acctstarttime,
		rr.acctstoptime			as rr_acctstoptime,
		rr.acctsessiontime		as rr_acctsessiontime,
		rr.acctinputoctets		as rr_acctinputoctets,
		rr.acctoutputoctets		as rr_acctoutputoctets,
		rr.calledstationid		as rr_calledstationid,
		rr.acctterminatecause	as rr_acctterminatecause,
		rr._accttime			as rr__accttime
	</sql>
	
	<sql id="radiusRadacctWhere">
		<where>
			
		</where>
	</sql>
	
	<!-- // DEFINITION AREA -->
	<!-- =================================================================================== -->
	<!-- SELECT AREA -->
	
	<select id="selectRadiusRadaccts" resultType="RadiusRadacct">
		select 
			<include refid="radiusRadacctColumns"/>
		from radacct as rr
			<include refid="radiusRadacctWhere" />
		LIMIT #{_skiprows}, #{_pagesize}
	</select>
	
	<!-- // END SELECT AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- INSERT AREA -->
	
	<!-- // END INSERT AREA -->
	<!-- =================================================================================== -->
	
	<!-- UPDATE AREA -->
	
	
	
	<!-- // END UPDATE AREA -->
	
	<!-- =================================================================================== -->
	
	<!-- DELETE AREA --><!-- // END DELETE AREA -->
	
	
</mapper>