<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- <login-config> <auth-method>CLIENT-CERT</auth-method> <realm-name>Client 
		Cert Users-only Area </realm-name> </login-config> <security-constraint> 
		<web-resource-collection> <web-resource-name>SSL</web-resource-name> <url-pattern>/</url-pattern> 
		</web-resource-collection> <user-data-constraint> <transport-guarantee>CONFIDENTIAL</transport-guarantee> 
		</user-data-constraint> </security-constraint> -->

	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.bpm</url-pattern>
		<url-pattern>*.map</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.eot</url-pattern>
		<url-pattern>*.svg</url-pattern>
		<url-pattern>*.ttf</url-pattern>
		<url-pattern>*.woff</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/application-config.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- spring mvc -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- kaptcha -->
	<servlet>
		<servlet-name>Kaptcha</servlet-name>
		<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
		<init-param>
			<param-name>kaptcha.image.width</param-name>
			<param-value>140</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.image.height</param-name>
			<param-value>54</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.char.length</param-name>
			<param-value>4</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kaptcha</servlet-name>
		<url-pattern>/kaptcha.jpg</url-pattern>
	</servlet-mapping>

	<!-- spring ws -->
	<servlet>
		<servlet-name>spring-ws</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>transformWsdlLocations</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-ws</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!-- session time -->
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>

	<!-- filter Character Encoding -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- customer order session filter -->
	<filter>
		<filter-name>CustomerOrderSessionFilter</filter-name>
		<filter-class>com.tm.broadband.filter.CustomerOrderSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomerOrderSessionFilter</filter-name>
		<!-- <url-pattern>/order</url-pattern> -->
		<url-pattern>/order/personal/confirm</url-pattern>
		<url-pattern>/order/business/confirm</url-pattern>
		<url-pattern>/order/plan-term/personal/save</url-pattern>
		<url-pattern>/order/plan-term/business/save</url-pattern>
		<url-pattern>/order/checkout</url-pattern>
		<url-pattern>/order/result/*</url-pattern>
	</filter-mapping>

	<!-- customer session filter -->
	<filter>
		<filter-name>CustomerSessionFilter</filter-name>
		<filter-class>com.tm.broadband.filter.CustomerSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomerSessionFilter</filter-name>
		<url-pattern>/customer/home</url-pattern>
		<url-pattern>/customer/data</url-pattern>
		<url-pattern>/customer/details/*</url-pattern>
		<url-pattern>/customer/payment/*</url-pattern>
		<url-pattern>/customer/billing/*</url-pattern>
	</filter-mapping>

	<!-- user session filter -->
	<filter>
		<filter-name>UserSessionFilter</filter-name>
		<filter-class>com.tm.broadband.filter.UserSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserSessionFilter</filter-name>
		<url-pattern>/broadband-user/index</url-pattern>
		<url-pattern>/broadband-user/plan/*</url-pattern>
		<url-pattern>/broadband-user/crm/*</url-pattern>
		<url-pattern>/broadband-user/billing/*</url-pattern>
		<url-pattern>/broadband-user/provision/*</url-pattern>
		<url-pattern>/broadband-user/data/*</url-pattern>
		<url-pattern>/broadband-user/system/*</url-pattern>
		<url-pattern>/broadband-user/sale/*</url-pattern>
	</filter-mapping>

	<!-- user auth filter -->
	<filter>
		<filter-name>UserAuthFilter</filter-name>
		<filter-class>com.tm.broadband.filter.UserAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserAuthFilter</filter-name>

		<!-- Plan Module BEGIN -->
		<url-pattern>/broadband-user/plan/view/*</url-pattern>
		<url-pattern>/broadband-user/plan/create</url-pattern>
		<url-pattern>/broadband-user/plan/edit/*</url-pattern>
		<url-pattern>/broadband-user/plan/hardware/view/*</url-pattern>
		<url-pattern>/broadband-user/plan/hardware/create</url-pattern>
		<url-pattern>/broadband-user/plan/hardware/edit/*</url-pattern>
		<!-- Plan Module END -->

		<!-- CRM Module BEGIN -->
		<url-pattern>/broadband-user/crm/customer/view/*</url-pattern>
		<url-pattern>/broadband-user/crm/customer/personal/create</url-pattern>
		<url-pattern>/broadband-user/crm/customer/business/create</url-pattern>
		<url-pattern>/broadband-user/crm/customer/edit/*</url-pattern>
		<!-- CRM Module END -->

		<!-- Billing Module BEGIN -->
		<url-pattern>/broadband-user/billing/early-termination-charge/view/*</url-pattern>
		<url-pattern>/broadband-user/billing/termination-refund/view/*</url-pattern>
		<!-- Billing Module END -->

		<!-- Provision Module BEGIN -->
		<url-pattern>/broadband-user/provision/view/*</url-pattern>
		<url-pattern>/broadband-user/provision/customer/view/*</url-pattern>
		<url-pattern>/broadband-user/provision/contact-us/view/*</url-pattern>
		<url-pattern>/broadband-user/provision/sale/view/*</url-pattern>
		<!-- Provision Module END -->

		<!-- Data Module BEGIN -->
		<url-pattern>/broadband-user/data/operatre</url-pattern>
		<url-pattern>/broadband-user/data/customer/view</url-pattern>
		<!-- Data Module END -->

		<!-- System Module BEGIN -->
		<url-pattern>/broadband-user/system/user/view/*</url-pattern>
		<url-pattern>/broadband-user/system/user/create</url-pattern>
		<url-pattern>/broadband-user/system/user/edit/*</url-pattern>
		<url-pattern>/broadband-user/system/notification/view/*</url-pattern>
		<url-pattern>/broadband-user/system/notification/create</url-pattern>
		<url-pattern>/broadband-user/system/notification/edit/*</url-pattern>
		<url-pattern>/broadband-user/system/company-detail/edit</url-pattern>
		<url-pattern>/broadband-user/system/chart/customer-register/*</url-pattern>
		<!-- System Module END -->

		<!-- Sales Module BEGIN -->
		<url-pattern>/broadband-user/sale/online/ordering/view/*</url-pattern>
		<url-pattern>/broadband-user/sale/online/ordering/plans</url-pattern>
		<!-- Sales Module END -->

		<!-- Manual Manipulation Module BEGIN -->
		<url-pattern>/broadband-user/manual-manipulation/manual-manipulation-record/view/*</url-pattern>
		<url-pattern>/broadband-user/manual-manipulation/call-billing-record/view/*</url-pattern>
		<url-pattern>/broadband-user/manual-manipulation/call-international-rate/view/*</url-pattern>
		<!-- Manual Manipulation Module END -->

	</filter-mapping>
	
	
	<!-- <filter>
		<filter-name>UrlRedirectFilter</filter-name>
		<filter-class>com.tm.broadband.filter.UrlRedirectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRedirectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<error-page>
		<error-code>400</error-code>
		<location>/public/static/error-400.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/public/static/error-404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/public/static/error-405.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/public/static/error-500.html</location>
	</error-page>

</web-app>
